﻿
@model Molen.Models.Contact
@{
    ViewBag.Title = "AcceptTrainer";
    Layout = "~/Views/Shared/_Email.cshtml";
}

<h2 style="color: #008a4c; line-height: 25px;">تطبيق معلن</h2>
<div style="font: normal 9pt tahoma, Geneva, sans-serif; background: #f0f0f0; border: 1px solid #f0f0f0; color: #444; line-height: 18px; margin: 20px 0; padding: 10px;">
    السلام عليكم 
    <br />
    <p><strong>المرسل</strong>: @Model.name - @Model.email</p>
    <p><strong>عنوان الرسالة</strong>: @Model.subject</p>   
    <br />
    <p>@Model.message</p>  
</div>