﻿@model Molen.Models.AdminAddUser
@{
    ViewBag.Title = "NewAdmin";
    Layout = "~/Views/Shared/_Email.cshtml";
}

<span style="font-weight: bold;font-family:tahoma;"> عزيزي المستخدم: @Model.fullname</span>
<div style="font-size:15px; margin-top:20px;font-family:tahoma;">
    تم اضافتك ك @Model.type في تطبيق معلن يمكن الآن الدخول الى حسابك عبر الرابط التالي من خلال البيانات التالية    
    <br />
    لاكمال بياناتك [<a href="@(Request.Url.Scheme+"://"+Request.Url.Host+ Url.Action("login", "Home", new {area="" }))">اضغط هنا</a>]
    <br />
    <p><strong>اسم المستخدم : </strong> @Model.userName</p>
    <br />
    <p><strong>كلمة المرور : </strong> @Model.Password</p>





