﻿@model Mhana.Models.AspNetUser
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
    List<Mhana.Models.education_level> el = (List<Mhana.Models.education_level>)ViewBag.levels;
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الملف الشخصي الخاص بالطالب : @Model.fullname
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12 text-center">
                                <img src="~/resources/users/@Model.photo" style="width:150px;height:150px;" />
                            </div>
                        </div>
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">1. البيانات الأساسية : </h3>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">الاسم الأول </label>
                                <input type="text" class="form-control m-input" name="first_name" value="@Model.first_name" disabled>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">اسم العائلة </label>
                                <input type="text" class="form-control m-input" name="last_name" value="@Model.last_name" disabled>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">البريد الالكتروني </label>
                                <input type="text" class="form-control m-input" name="email" value="@Model.Email" disabled>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">رقم الجوال </label>
                                <input type="text" class="form-control m-input" name="mobile" value="@Model.PhoneNumber" disabled>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>تاريخ الميلاد</label>
                                <input type="text" disabled class="form-control m-input" name="dob" id="m_datetimepicker_1" autocomplete="off" value="@Model.dob">
                            </div>
                            <div class="col-md-6">
                                <label>الجنس</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="gender" disabled>
                                        <option value="">-- اختر الجنس --</option>
                                        <option value="ذكر" @(Model.gender == "ذكر" ? "selected" : "")>ذكر</option>
                                        <option value="أنثى" @(Model.gender == "أنثى" ? "selected" : "")>أنثى</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>المدينة </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" name="city" value="@Model.city" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>المنطقة</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" name="region" value="@Model.region" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>المرحلة التعليمية</label>
                                <div class="m-input-icon m-input-icon--left">
                                  <input type="text" class="form-control m-input" name="region" value="@(!string.IsNullOrEmpty(Model.education_level_text) &&  el.Where(w=>Model.education_level_text.Contains(w.Id+"")).FirstOrDefault()!=null ? string.Join(",", el.Where(w=>Model.education_level_text.Contains(w.Id+"")).Select(x=>x.name).ToList()) :"---")" disabled>
                                </div>
                            </div>
                        </div>


                        <br />
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="form-group m-form__group row">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title">2. دورات الطالب التي اشترك بها  : </h3>
                            </div>
                            <div class="col-md-12">


                                @{ if (ViewBag.Courses != null)
                                    {
                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                            <thead>
                                                <tr>
                                                    <th>اسم الدرس</th>
                                                    <th>المعلم التابع له</th>
                                                    <th>تاريخ الانضمام</th>
                                                    <th>حالة انضمام الطالب</th>
                                                    <th>عمليات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.Courses)
                                                {
                                                    <tr>
                                                        <td>@item.title</td>
                                                        <td>@item.teacher_name</td>
                                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                                        <td class="text-center">
                                                            @{

                                                                if (item.status == 1)
                                                                {
                                                                    <span class="m-badge  m-badge--success m-badge--wide">مقبول</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="m-badge  m-badge--danger m-badge--wide">مرفوض</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td nowrap>
                                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                                <a href="@Url.Action("Edit", "Courses",new { id = item.id })" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="Edit details">
                                                                    <i class="la la-edit"></i>
                                                                </a>
                                                                @{

                                                                    if (item.status == 1)
                                                                    {
                                                                        <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("RemoveFromCourse", new { id=item.id,std=ViewContext.RouteData.Values["id"]})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="Delete"><i class="la la-trash"></i></a>
                                                                    }

                                                                    else
                                                                    {
                                                                        <a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("AcceptInCourse", new { id=item.id,std=ViewContext.RouteData.Values["id"]})" class="btn btn-success m-btn m-btn--icon m-btn--icon-only ActiveBox" title="Active"><i class="la la-check-circle"></i></a>
                                                                    }

                                                                }
                                                            </span>

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            <strong>نأسف!</strong> ليس لديك دورات تدريبية مسجلة  .
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                        <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section scripts{
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script>
        $(".m_datetimepicker_7").datetimepicker({ format: "hh:ii", showMeridian: !0, todayHighlight: !0, autoclose: !0, startView: 1, minView: 0, maxView: 1, forceParse: 0, pickerPosition: "bottom-left" });
    </script>
}