﻿@model Mhana.Models.Course
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
    int i = 0;
    Mhana.Models.StdNewRequest req = (Mhana.Models.StdNewRequest)ViewBag.request;
}
<div class="row">
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            بيانات درس : @Model.title
                        </h3>
                    </div>

                </div>
                <div class="m-portlet__head-tools">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTime" style="margin:0px 10px">
                        اضافة موعد للدرس
                    </button>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">1. البيانات الأساسية : </h3>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label for="example_input_full_name">عنوان الدرس </label>
                                <input type="text" class="form-control m-input" name="title" value="@Model.title" required>
                                <span class="m-form__help">يجب أن يكون العنوان واضح ومعبر</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>تاريخ بداية  الدرس والوقت</label>
                                <input type="text" class="form-control m-input" name="start_date" id="m_datetimepicker_1" autocomplete="off" value="@Model.start_date" required>
                                <span class="m-form__help">تاريخ بداية الدرس يجب أن يكون قبل 12 ساعة على الأقل</span>
                            </div>
                            <div class="col-md-6">
                                <label>طريقة التدريس</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="teaching_mechanism" required>
                                        <option value="">-- اختر طريقة التدريس --</option>
                                        <option value="online" @(Model.teaching_mechanism == "online" ? "selected" : "")>أونلاين</option>
                                        <option value="onsite" @(Model.teaching_mechanism == "onsite" ? "selected" : "")>في المكان</option>
                                        <option value="both" @(Model.teaching_mechanism == "both" ? "selected" : "")>كلاهما</option>
                                    </select>
                                </div>
                                <span class="m-form__help">طريقة التدريس حسب الألية المتبعة باستخدام الفيديو والصوت أو بالذهاب لموقع اللقاء</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>مدة الدرس بالأيام</label>
                                <input type="number" class="form-control m-input" name="period" value="@Model.period" required min="1">
                                <span class="m-form__help">تكون مدة الدرس بالأيام حسب عدد الأيام التي يتم فيها تنفيذ الدرس</span>
                            </div>
                            <div class="col-md-6">
                                <label>عدد الطلاب المسموح المشاركة بها</label>
                                <input type="number" class="form-control m-input" name="total_std" value="@Model.total_std" required min="1">
                                <span class="m-form__help">عدد الطلاب التي سيتم اشراكهم في الدرس</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>عدد المحاضرات المتفق عليه</label>
                                <input type="number" class="form-control m-input" name="lectures_count" value="@Model.lectures_count" required min="1">
                                <span class="m-form__help">عدد المحاضرات المتفق عليه مع الطالب</span>
                            </div>
                            <div class="col-md-6">
                                <label>مبلغ الدرس لكل محاضرة </label>
                                <input type="number" class="form-control m-input" name="cost" value="@Model.cost" required min="1">
                                <span class="m-form__help">المبلغ المحدد عن كل يوم بمعني قيمة المحاضرة الواحدة 30 ريال </span>
                            </div>

                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>العقد المرتبط بهذا الدرس </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="request_id" disabled>
                                        <option value="">-- اختر العقد المرتبط بها --</option>
                                        @foreach (var item in ViewBag.Contracts)
                                        {
                                            <option value="@item.id" @(req != null && req.Id == Model.request_id ? "selected" : "")>@item.value</option>
                                        }
                                    </select>
                                </div>
                                <span class="m-form__help">العقد المرتبط به الطالب التي بناء عليه تم انشاء الدرس</span>
                            </div>
                            <div class="col-md-6">
                                <label>المادة العلمية  </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="material" required>
                                        <option value="">-- اختر  المادة العلمية --</option>
                                        @foreach (var item in ViewBag.material)
                                        {
                                            <option value="@item" @(item == Model.material ? "selected" : "")>@item</option>
                                        }
                                    </select>
                                </div>
                                <span class="m-form__help">المادة العلمية التابعة للدرس</span>
                            </div>

                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label>نبذة عن الدرس التدريبية</label>
                                <textarea class="form-control m-input" name="details" rows="10" required>@Model.details</textarea>
                                <span class="m-form__help">نبذة عن الدرس التدريبية ومحتواها</span>
                            </div>
                        </div>

                        @{
                            if (Model.teaching_mechanism == "onsite" || Model.teaching_mechanism == "both")
                            {
                                <div class="form-group m-form__group row">
                                    <div class="col-md-12">
                                        <label>موقع الطالب على الخريطة</label>
                                        <div id="map" style="height:500px"></div>
                                    </div>
                                </div>
                            }
                        }
                        @*<div class="m-form__group form-group">
                                <label for="">Communication:</label>
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox">
                                        <input type="checkbox"> Email
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox"> SMS
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox"> Phone
                                        <span></span>
                                    </label>
                                </div>
                            </div>*@
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                    <div class="m-form__section m-form__section--last">
                        <div class="m-form__group form-group">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title">2. جدولة المواعيد للدرس :</h3>
                            </div>

                            @{ if (Model.Course_Times != null)
                                {
                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                        <thead>
                                            <tr>
                                                <th>تاريخ اللقاء</th>
                                                <th>وقت اللقاء</th>
                                                <th>رابط اللقاء</th>
                                                <th>عمليات </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Course_Times)
                                            {
                                                <tr>
                                                    <td>@string.Format("{0:dddd, MMMM d, yyyy}", item.sch_date)</td>
                                                    <td>@item.sch_date.Value.TimeOfDay</td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.teacher_link))
                                                        {
                                                            <a href="@item.teacher_link">رابط الدرس</a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.sch_date >= DateTime.Now)
                                                        {
                                                            <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("CancelToday",new{id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" data-id="@Model.Id">
                                                                <i class="la la-trash"></i>
                                                                </a>
                                                            }
                                                </td>

                                            </tr>
                                        }

                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning" role="alert">
                                        <strong>نأسف!</strong> لم يتم ارسال دعوات من طرفك الى أي شخص مسبقاً  .
                                    </div>
                                }
                            }



                            <br />
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                    <div class="m-form__section m-form__section--last">
                        <div class="m-form__group form-group">
                            <label for="">التقنية المستخدمة في المحاضرات  :</label>
                            <div class="m-radio-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" disabled name="allow_sound" @((Model.allow_sound.HasValue && Model.allow_sound.Value) && (!Model.allow_video.HasValue || !Model.allow_video.Value) ? "checked" : "")> الصوت فقط
                                    <span></span>
                                </label>
                                <label class="m-checkbox">
                                    <input type="checkbox" disabled name="allow_video" @(Model.allow_video.HasValue && Model.allow_video.Value ? "checked" : "")> الصوت والفيديو
                                    <span></span>
                                </label>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="m-form__seperator m-form__seperator--dashed"></div>
                <div class="m-form__section m-form__section--last">
                    <div class="m-form__group form-group">
                        <label for="">قائمة الطلاب المسجلين</label>
                        @{ if (Model != null)
                            {
                                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                    <thead>
                                        <tr>
                                            <th>اسم الطالب</th>
                                            <th>البريد الالكتروني</th>
                                            <th>رقم الجوال</th>
                                            <th>تاريخ التسجيل </th>
                                            <th>كتابة تقرير</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.stds)
                                        {
                                            <tr>
                                                <td>@(string.IsNullOrEmpty(item.fullname) ? item.first_name + " " + item.last_name : item.fullname)</td>
                                                <td>@item.email</td>
                                                <td>@item.phonenumber</td>
                                                <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                                <td><a href="@Url.Action("editreport",new {cid=Model.Id,std=item.id })"> كتابة تقرير <i class="fa fa-edit"></i></a></td>



                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    <strong>نأسف!</strong> لم يتم ارسال دعوات من طرفك الى أي شخص مسبقاً  .
                                </div>
                            }
                        }

                    </div>

                </div>

                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                        <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>

<div class="modal fade" id="newTime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اضافة موعد درس جديد</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("setTime")" method="post">
                <div class="modal-body">

                    <input type="hidden" name="id" value="@ViewContext.RouteData.Values["id"]" />
                    <div class="form-group m-form__group row">
                        <div class="col-md-12">
                            <label>تاريخ بداية الدرس</label>
                            <input type="text" class="form-control m-input" data-format="yyyy-MM-dd" name="start_date" id="m_date_2" autocomplete="off" required value="">
                            <span class="m-form__help">يرجى أن يكون التاريخ صحيح للدرس لانه سيتم تبلغ المسجلين بالموعد</span>
                        </div>
                        <div class="col-md-12">
                            <label>وقت بداية الدرس بالتحديد</label>
                            <input type="text" class="form-control m-input" name="start_time" id="m_timepicker_1" autocomplete="off" required value="">
                            <span class="m-form__help">يرجى أن يكون التاريخ صحيح للدرس لانه سيتم تبلغ المسجلين بالموعد</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                    <button type="sumbit" class="btn btn-primary">حفظ</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-timepicker.js" type="text/javascript"></script>
    <script>
        $(".m_datetimepicker_sch").datetimepicker({ todayHighlight: !0, autoclose: !0, format: "yyyy.mm.dd hh:ii" });
        $("#m_date_2").datetimepicker({  pickTime: false , format: "dd/MM/yyyy",defaultDate:new Date("@(DateTime.Now.Year),@(DateTime.Now.Month),@(DateTime.Now.Day)"),minDate: new Date("@(DateTime.Now.Year),@(DateTime.Now.Month),@(DateTime.Now.Day)"),startDate:new Date("@(DateTime.Now.Year),@(DateTime.Now.Month),@(DateTime.Now.Day)") });
        $("#m_timepicker_1").timepicker({
                    format: "hh:ii",
                    showMeridian:false

                });
        $(document).on('click', '.addSch', function () {
            var elemnt = '';
            elemnt += '<div class="form-group m-form__group row">';
            elemnt += '<div class="col-md-6">';
            elemnt += '<label>يرجى تاريخ ووقت الدروس</label>';
            elemnt += '<input class="form-control m-input m_datetimepicker_sch" name="schedual[]" />';
            elemnt += '</div>';
            elemnt += '<div class="col-md-4">';
            elemnt += '<label style="display:block">&nbsp;</label>';
            elemnt += '<a href="JavaScript:Void(0)" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only addSch">';
            elemnt += ' <i class="la la-plus"></i>';
            elemnt += '</a>';
            elemnt += '<a href="JavaScript:Void(0)" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only trashSch">';
            elemnt += ' <i class="la la-trash"></i>';
            elemnt += '</a>';
            elemnt += '</div>';
            elemnt += '</div>';
            $("#mySch").append(elemnt);
            $(".m_datetimepicker_sch").datetimepicker({ todayHighlight: !0, autoclose: !0, format: "yyyy.mm.dd hh:ii" });
        });
    </script>
    @if (!string.IsNullOrEmpty(Model.lat) && !string.IsNullOrEmpty(Model.lng))
    {
        <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: @(!string.IsNullOrEmpty(Model.lat)? Model.lat: "0"), lng: @(!string.IsNullOrEmpty(Model.lng)? Model.lng: "0")},
          zoom: 8
        });

        var marker = new google.maps.Marker({
            position: {lat: @(!string.IsNullOrEmpty(Model.lat)? Model.lat: "0"), lng: @(!string.IsNullOrEmpty(Model.lng)? Model.lng: "0")},
            map: map,
            title: 'موقع الطالب '
        });

      }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJsoUmkmuNZR-Wrf-xGccnUowt6Ax3ZL8&callback=initMap"
                async defer></script>
    }
}