﻿@model IEnumerable<Mhana.Models.CourseListAdmin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            عرض كافة الدروس
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>عنوان الدرس</th>
                                    <th>عدد الطلاب</th>
                                    <th>تاريخ الانشاء</th>
                                    <th>مدة الدرس</th>
                                    <th>الأيام المختارة </th>
                                    <th>نسبة الانجاز</th>
                                    <th>عمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.title</td>
                                        <td>@item.total_std</td>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                        <td>@item.period</td>
                                        <td>---</td>
                                        <td>0%</td>
                                        <td nowrap>
                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only"  data-toggle="tooltip" data-placement="top" title="استعراض البيانات">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                @{

                                                    if (item.status == 1)
                                                    {
                                                        <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("Deactive", new { id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox"  data-toggle="tooltip" data-placement="top" title="ايقاف الدرس"><i class="la la-trash"></i></a>
                                                    }

                                                    else
                                                    {
                                                        <a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("Active", new { id=item.id})" class="btn btn-success m-btn m-btn--icon m-btn--icon-only ActiveBox"  data-toggle="tooltip" data-placement="top" title="تفعيل الدرس"><i class="la la-check-circle"></i></a>
                                                    }

                                                }
                                            </span>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم تقم باضافة دورات جديدة يمكنك الآن اضافة دورة جديدة من خلال  <a href="@Url.Action("Create","Course")">الرابط التالي</a>.
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>

@section Scripts{
    @*<script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@
    @*<script src="~/assets/demo/default/custom/crud/datatables/basic/basic.js" type="text/javascript"></script>*@
}