﻿@model IEnumerable<Mhana.Models.RateModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
}
<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            عرض تقييمات الطلاب للمعلمين
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>المعلم</th>
                                    <th>الطالب</th>
                                    <th>تاريخ التقييم</th>
                                    <th>الدرس التابع له التقييم</th>
                                    <th>الملاحظات</th>

                                    <th>عمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.student_name</td>
                                        <td>@item.teacher_name</td>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                        <td>@item.course_title</td>
                                        <td>@item.comment</td>
                                        <td nowrap>
                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("DeleteRate", new { id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="Delete"><i class="la la-trash"></i></a>
                                            </span>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم يصل تقييمات بعد  .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>

@section Scripts{
    @*<script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@
    @*<script src="~/assets/demo/default/custom/crud/datatables/basic/basic.js" type="text/javascript"></script>*@
}