﻿@model Mhana.Models.TeacherRegisterResponseModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            اضافة معلم الى النظام
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">1. البيانات الأساسية : </h3>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">الاسم الأول </label>
                                <input type="text" class="form-control m-input" name="first_name" required>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">اسم العائلة </label>
                                <input type="text" class="form-control m-input" name="last_name" required>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">البريد الالكتروني </label>
                                <input type="text" class="form-control m-input" name="email" required>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">رقم الجوال </label>
                                <input type="text" class="form-control m-input" name="mobile" required>

                            </div>
                        </div>                  
                    </div>

                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                        <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section scripts{
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script>
        $(".m_datetimepicker_7").datetimepicker({ format: "hh:ii", showMeridian: !0, todayHighlight: !0, autoclose: !0, startView: 1, minView: 0, maxView: 1, forceParse: 0, pickerPosition: "bottom-left" });
    </script>
}