﻿@model Mhana.Models.AspNetUser
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
    List<Mhana.Models.TeacherTimes> Ttimes = (List<Mhana.Models.TeacherTimes>)ViewBag.tTimes;
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الملف الشخصي الخاص بالمعلم : @Model.fullname
                            @{ if (Model.absher == 1)
                                {
                                    <i class="la la-certificate" style="color:blue;font-size:44px;"></i>
                                }
                                else
                                {
                                    <i class="la la-times-circle" style="color:red;font-size:44px;"></i>
                                }
                            }
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            @*<div class="col-lg-6">
                                    <label for="exampleInputEmail1">الصورة الشخصية</label>
                                    <div></div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="photo_file">
                                        <label class="custom-file-label selected" for="customFile"></label>
                                        <span class="m-form__help">يسمح فقط بصورة بصيغة PNG JPG </span>
                                    </div>
                                </div>*@
                            <div class="col-lg-12 text-center">
                                @{ if (Model.absher == 1)
                                    {
                                        <i class="la la-certificate" style="color:blue;font-size:44px;position:absolute"></i>
                                    }
                                    @*else
                                        {
                                            <i class="la la-times-circle" style="color:red;font-size:44px;position:absolute"></i>
                                            }*@
                                }
                                <img src="~/resources/users/@(string.IsNullOrEmpty(Model.photo)?"default.png":Model.photo)" style="width:150px;height:150px;" />
                            </div>

                        </div>
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">1. البيانات الأساسية : </h3>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">الاسم الأول </label>
                                <input type="text" class="form-control m-input" name="first_name" value="@Model.first_name" disabled>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">اسم العائلة </label>
                                <input type="text" class="form-control m-input" name="last_name" value="@Model.last_name" disabled>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">البريد الالكتروني </label>
                                <input type="text" class="form-control m-input" name="email" value="@Model.Email" disabled>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">رقم الجوال </label>
                                <input type="text" class="form-control m-input" name="mobile" value="@Model.PhoneNumber" disabled>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>تاريخ الميلاد</label>
                                <input type="text" disabled class="form-control m-input" name="dob" id="m_datetimepicker_1" autocomplete="off" value="@Model.dob">
                            </div>
                            <div class="col-md-6">
                                <label>الجنس</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="gender" disabled>
                                        <option value="">-- اختر الجنس --</option>
                                        <option value="ذكر" @(Model.gender == "ذكر" ? "selected" : "")>ذكر</option>
                                        <option value="أنثى" @(Model.gender == "أنثى" ? "selected" : "")>أنثى</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>التخصص الرئيسي </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="specialization" disabled>
                                        <option value="">-- اختر التخصص الرئيسي --</option>
                                        @foreach (var item in ViewBag.specializations)
                                        {
                                            <option value="@item.id" @(item.id == Model.specialization ? "selected" : "" )>@item.value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>التخصص الفرعي</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="branch_specialization" disabled>
                                        <option value="">-- اختر التخصص الفرعي --</option>
                                        @foreach (var item in ViewBag.branch_specialization)
                                        {
                                            <option value="@item.id" @(item.id == Model.branch_specialization ? "selected" : "" )>@item.value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>الشهادة الجامعية</label>
                                <input type="text" class="form-control m-input" name="certificate" value="@Model.certificate" disabled>

                            </div>
                            <div class="col-md-6">
                                <label>الجامعة</label>
                                <input type="text" class="form-control m-input" name="university" value="@Model.university" disabled>
                            </div>


                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>طريقة التدريس</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="teaching_mechanism" disabled>
                                        <option value="">-- اختر طريقة التدريس --</option>
                                        <option value="both" @(Model.teaching_mechanism == "both" ? "selected" : "")>الكل</option>
                                        <option value="online" @(Model.teaching_mechanism == "online" ? "selected" : "")>أونلاين</option>
                                        <option value="onsite" @(Model.teaching_mechanism == "onsite" ? "selected" : "")>في المكان</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="example_input_full_name">سعر التدريس أونلاين </label>
                                <input type="text" class="form-control m-input" name="online_cost" value="@Model.online_cost" disabled>
                                <span class="m-form__help">السعر يكون للساعة الواحدة</span>
                            </div>
                            <div class="col-md-3">
                                <label for="example_input_full_name">سعر التدريس بالمكان </label>
                                <input type="text" class="form-control m-input" name="site_cost" value="@Model.site_cost" disabled>
                                <span class="m-form__help">السعر يكون للساعة الواحدة</span>
                            </div>

                        </div>
                        @*<div class="form-group m-form__group row">
                                            <div class="col-lg-6">
                                <label for="exampleInputEmail1">الصورة الشخصية</label>
                                <div></div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="photo_file">
                                    <label class="custom-file-label selected" for="customFile"></label>
                                    <span class="m-form__help">يسمح فقط بصورة بصيغة PNG JPG </span>
                                </div>
                            </div>*@
                        @*<div class="col-lg-6">
                                    <img src="~/resources/users/@Model.photo" style="width:150px;height:150px;" />
                                </div>

                            </div>*@
                        <br />
                       
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                      <div class="m-form__section m-form__section--last">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title">3. مواعيد المعلم المتاحة :</h3>
                            </div>

                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label for="course_day" style="display:block">&nbsp; </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_times[0].day_number" value="0" @(Ttimes.Where(w => w.day_number == 0).FirstOrDefault() != null ? "checked" : "")> السبت
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>

                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[0].from" value="@(Ttimes.Where(w=>w.day_number==0).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==0).FirstOrDefault().from:"")">

                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[0].to" value="@(Ttimes.Where(w=>w.day_number==0).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==0).FirstOrDefault().to:"")">
                                </div>
                            </div>

                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label for="course_day" style="display:block">&nbsp; </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_times[1].day_number" value="1" @(Ttimes.Where(w => w.day_number == 1).FirstOrDefault() != null ? "checked" : "")> الأحد
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[1].from" value="@(Ttimes.Where(w=>w.day_number==1).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==1).FirstOrDefault().from:"")">
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[1].to" value="@(Ttimes.Where(w=>w.day_number==1).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==1).FirstOrDefault().to:"")">
                                </div>
                            </div>


                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label for="course_day" style="display:block">&nbsp; </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_times[2].day_number" value="2" @(Ttimes.Where(w => w.day_number == 2).FirstOrDefault() != null ? "checked" : "")> الاثنين
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[2].from" value="@(Ttimes.Where(w=>w.day_number==2).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==2).FirstOrDefault().from:"")">
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[2].to" value="@(Ttimes.Where(w=>w.day_number==2).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==2).FirstOrDefault().to:"")">
                                </div>
                            </div>


                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label for="course_day" style="display:block">&nbsp; </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_times[3].day_number" value="3" @(Ttimes.Where(w => w.day_number == 3).FirstOrDefault() != null ? "checked" : "")> الثلاثاء
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[3].from" value="@(Ttimes.Where(w=>w.day_number==3).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==3).FirstOrDefault().from:"")">
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[3].to" value="@(Ttimes.Where(w=>w.day_number==3).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==3).FirstOrDefault().to:"")">
                                </div>
                            </div>


                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label for="course_day" style="display:block">&nbsp; </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_times[4].day_number" value="4" @(Ttimes.Where(w => w.day_number == 4).FirstOrDefault() != null ? "checked" : "")> الاربعاء
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[4].from" value="@(Ttimes.Where(w=>w.day_number==4).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==4).FirstOrDefault().from:"")">
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[4].to" value="@(Ttimes.Where(w=>w.day_number==4).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==4).FirstOrDefault().to:"")">
                                </div>
                            </div>

                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label for="course_day" style="display:block">&nbsp; </label>
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_times[5].day_number" value="5" @(Ttimes.Where(w => w.day_number == 5).FirstOrDefault() != null ? "checked" : "")> الخميس
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[5].from" value="@(Ttimes.Where(w=>w.day_number==5).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==5).FirstOrDefault().from:"")">
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_times[5].to" value="@(Ttimes.Where(w=>w.day_number==5).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==5).FirstOrDefault().to:"")">
                                </div>
                            </div>


                            <div class="m-form__group form-group row">
                                <div class="col-lg-2">
                                    <label class="m-checkbox">
                                        <input type="checkbox" name="teacher_day[6].day_number" value="6" @(Ttimes.Where(w => w.day_number == 6).FirstOrDefault() != null ? "checked" : "")> الجمعة
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">من الساعة  </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_day[6].from" value="@(Ttimes.Where(w=>w.day_number==6).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==6).FirstOrDefault().from:"")">
                                </div>
                                <div class="col-md-4">
                                    <label for="example_input_full_name">حتى الساعة </label>
                                    <input type="text" class="form-control m-input m_datetimepicker_7" name="teacher_day[6].to" value="@(Ttimes.Where(w=>w.day_number==6).FirstOrDefault()!=null?Ttimes.Where(w=>w.day_number==6).FirstOrDefault().to:"")">
                                </div>
                            </div>

                            <br />
                        </div>
                        <br />
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label>نبذة عن المعلم</label>
                                <textarea class="form-control m-input" name="details" rows="10" disabled>@Model.details</textarea>
                                <span class="m-form__help">نبذة عن المعلم</span>
                            </div>
                        </div>

                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="form-group m-form__group row">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title"> الحسابات البنكية </h3>
                            </div>
                            <div class="col-md-12">


                                @{ if (ViewBag.Courses != null)
                                    {
                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                            <thead>
                                                <tr>
                                                    <th title="Field #2" data-field="Owner">اسم البنك</th>
                                                    <th title="Field #2" data-field="Owner">اسم صاحب الحساب</th>
                                                    <th title="Field #2" data-field="Owner">الأيبان</th>
                                                 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.banks)
                                                {
                                                    <tr>
                                                        <td>@item.bank_name</td>
                                                        <td>@item.bank_account_name</td>
                                                        <td>@item.bank_account</td>
                                                       
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            <strong>نأسف!</strong> ليس لديك حسابات بنكية مسجلة  .
                                        </div>
                                    }
                                }
                            </div>
                        </div>



                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <div class="form-group m-form__group row">
                            <div class="m-form__heading">
                                <h3 class="m-form__heading-title">2. دورات المعلم التابعة له  : </h3>
                            </div>
                            <div class="col-md-12">


                                @{ if (ViewBag.Courses != null)
                                    {
                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                            <thead>
                                                <tr>
                                                    <th>اسم الدرس</th>
                                                    <th>عدد الطلاب</th>
                                                    <th>تاريخ الانشاء</th>
                                                    <th>حالة الدرس</th>
                                                    <th>عمليات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.Courses)
                                                {
                                                    <tr>
                                                        <td>@item.title</td>
                                                        <td>@item.std_count</td>
                                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                                        <td class="text-center">
                                                            @{

                                                                if (item.status == 1)
                                                                {
                                                                    <span class="m-badge  m-badge--success m-badge--wide">فعال</span>
                                                                }
                                                                else if (item.status == 2)
                                                                {
                                                                    <span class="m-badge  m-badge--info m-badge--wide">منتهي</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="m-badge  m-badge--danger m-badge--wide">موقوف</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td nowrap>
                                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                                <a href="@Url.Action("Edit", "Courses",new { id = item.id })" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="Edit details">
                                                                    <i class="la la-edit"></i>
                                                                </a>
                                                            </span>

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            <strong>نأسف!</strong> ليس لديك دورات تدريبية مسجلة  .
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
                @*<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                            <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                        </div>
                    </div>*@
            </form>

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section scripts{
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script>
        $(".m_datetimepicker_7").datetimepicker({ format: "hh:ii", showMeridian: !0, todayHighlight: !0, autoclose: !0, startView: 1, minView: 0, maxView: 1, forceParse: 0, pickerPosition: "bottom-left" });
    </script>
}
