﻿@{
    ViewBag.Title = "تطبيق درس خصوصي";
    Layout = null;
}

<h2>تغيير كلمة المرور</h2>
<link rel="stylesheet"
      href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css"
      integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6"
      crossorigin="anonymous">
<div class="row">
    <div class="col-sm-12 col-xm-12 col-md-12  form-box" style="direction:rtl">
        @Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })
    </div>
    <div class="col-sm-12 col-xm-12 col-md-12  form-box" style="direction:rtl">

        <br />
        @*<iframe class="hidden" name="hidden"></iframe>*@
        <form data-validate="parsley" id="rPassword" class="registration-form" action="@Url.Action("ResetPassword", "Home")" method="post" enctype="multipart/form-data">
            <fieldset>
                <div class="form-bottom">
                    <div class="alert alert-danger @(ViewData.ModelState.IsValid ? "hidden" : "") ">
                        <button class="close" data-close="alert"></button>


                        <span>
                            @{
                                if (ViewData.ModelState.IsValid)
                                {
                                    @:الرجاء ادخال البريد الالكتروني وكلمة المرور
                                }
                                else
                                {
                                    @Html.ValidationSummary(false);
                                }
                            }
                        </span>
                    </div>
                    <input type="hidden" name="Code" value="@Request.QueryString["code"]">

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="form-email">البريد الالكتروني</label>
                        <input type="email" name="Email" placeholder="البريد الالكتروني..." class="form-last-name form-control" id="Email">
                    </div>
                    <div class="form-group">
                        <label for="form-password">كلمة المرور</label>
                        <input type="password" name="Password" placeholder="كلمة المرور..." class="form-last-name form-control" id="Password">
                    </div>
                    <div class="form-group">
                        <label for="form-password">تأكيد كلمة المرور</label>
                        <input type="password" name="ConfirmPassword" placeholder="تأكيد كلمة المرور..." class="form-last-name form-control" id="ConfirmPassword">
                    </div>
                    <button type="submit" class="btn dark" style="background-color:#222;color:#fff;font-size:16px;">تغيير كلمة المرور</button>
                </div>
            </fieldset>
        </form>

    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script type="text/javascript">
        $(function () {
            var form1 = $("#rPassword");
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input

                rules: {
                    // simple rule, converted to {required:true}
                    Password: {
                        required: true,
                        minlength: 6
                    },
                    // compound rule
                    Email: {
                        required: true,
                        email: true
                    },
                    ConfirmPassword: {
                        equired: true,
                        minlength: 6,
                        equalTo: "#Password"

                    }
                },
                messages: {
                    Password: {
                        required: "هذا الحقل اجباري",
                        minlength: "كلمة المرور 6 حروف على الأقل"
                    },
                    // compound rule
                    email: {
                        required: "هذا الحقل اجباري",
                        email: "يرجى ادخال بريد الكتروني صحيح"
                    },
                    ConfirmPassword: {
                        required: "هذا الحقل اجباري",
                        minlength: "كلمة المرور 6 حروف على الأقل",
                        equalTo: "كلمة المرور غير متطابقة"

                    }
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parent(".form-group").size() > 0) {
                        error.insertAfter(element.parent(".form-group"));
                    }

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
            });
        });
    </script>
}