﻿
@{
    ViewBag.Title = "WiziQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.result</h1>
<form method="post" action="@Url.Action("WiziQ")">
    <input name="t_id" value="44ac2c0c-d123-4679-bcee-70b43d00dce8" />
    <button type="submit"> معلم جديد </button>
</form>

