﻿
@{
    ViewBag.Title = "WiziQT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.result</h1>
<form method="post" action="@Url.Action("WiziQT")">
    <input name="t_id" value="1" />
    <button type="submit"> كورس جديد </button>
</form>


