﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div class="col-md-12"><div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div></div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            اضافة طالب مسجل الى دورة
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("AddStdToCourse")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">1. بيانات الدعوة : </h3>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">الطالب المراد اضافته </label>
                                <select class="form-control m-input" name="std_id" required id="std_id">
                                    <option value="">-- اختر الطالب  --</option>
                                    @foreach (var item in ViewBag.stds)
                                    {
                                        <option value="@item.id">@item.value</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            @*<div class="col-md-6">
                                    <label>البريد الالكتروني للطالب</label>
                                    <input type="email" class="form-control m-input" name="email" autocomplete="off">

                                </div>*@
                            <div class="col-md-6">
                                <label>الدورةالمطلوب الالتحاق بها </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="course_id" required>
                                        <option value="">-- اختر الدورة المطلوب الالتحاق بها  --</option>
                                        @foreach (var item in ViewBag.Courses)
                                        {
                                            <option value="@item.id">@item.value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group m-form__group row">
                                <div class="col-md-12">
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox">
                                            <input type="checkbox" name="type" value="1"> هل ترغب بتسجيل الطالب في النظام وارسال بيانات الدخول اليه ؟
                                            <span></span>
                                        </label>
                                        <label class="m-checkbox">
                                            <input type="checkbox" name="type" value="0"> أرغب في ارسال الدعوة فقط وترك حرية التسجيل للطالب
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                        <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section scripts{

    <script src="~/assets/demo/default/custom/crud/forms/widgets/select2.js" type="text/javascript"></script>
    <script>
        $('#std_id').select2({
            placeholder: 'ابحث بالاسم أو بالبريد الالكتروني'
        });
    </script>

}