﻿@model Mhana.Models.AspNetUser

<table style="width:100%" border="1">
    <tr>
        <td>الاسم </td>
        <td>@(string.IsNullOrEmpty(Model.fullname) ? Model.first_name + " " + Model.last_name : Model.fullname)</td>
    </tr>
    <tr>
        <td>رقم الجوال</td>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <td>البريد الالكتروني</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>الجنس</td>
        <td>@Model.gender</td>
    </tr>
    <tr>
        <td>مدينة الاقامة</td>
        <td>@Model.city</td>
    </tr>
    <tr>
        <td>تاريخ الميلاد</td>
        <td>@Model.dob</td>
    </tr>
    <tr>
        <td>الدورات المسجلة </td>
        <td>@{ foreach (var x in ViewBag.course)
            {
                <p>@x.value</p>
            }
        }</td>
    </tr>

</table>
           