﻿html, body {
    direction: rtl;
    font-family: 'Droid Arabic Kufi';
}
a, h1, h2, h3, h4, h5, h6, p, span, strong, div {
    font-family: 'Droid Arabic Kufi';
}
.h3, h3 {
    font-family: 'Droid Arabic Kufi' !important ;
}
    .h2, h2{
        font-size:45px !important;
    }
.app-description, .about-mobee-description {
    font-family: 'Droid Arabic Kufi' !important;
}
        a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .x-breadcrumb-wrap a:hover, .widget ul li a:hover, .widget ol li a:hover, .widget.widget_text ul li a, .widget.widget_text ol li a, .widget_nav_menu .current-menu-item > a, .x-accordion-heading .x-accordion-toggle:hover, .x-comment-author a:hover, .x-comment-time:hover, .x-recent-posts a:hover .h-recent-posts {
            color: #ff2a13;
        }

    a:hover, .widget.widget_text ul li a:hover, .widget.widget_text ol li a:hover, .x-twitter-widget ul li a:hover {
        color: #d80f0f;
    }

    .rev_slider_wrapper, a.x-img-thumbnail:hover, .x-slider-container.below, .page-template-template-blank-3-php .x-slider-container.above, .page-template-template-blank-6-php .x-slider-container.above {
        border-color: #ff2a13;
    }

.entry-thumb:before, .x-pagination span.current, .flex-direction-nav a, .flex-control-nav a:hover, .flex-control-nav a.flex-active, .mejs-time-current, .x-dropcap, .x-skill-bar .bar, .x-pricing-column.featured h2, .h-comments-title small, .x-entry-share .x-share:hover, .x-highlight, .x-recent-posts .x-recent-posts-img:after {
    background-color: #ff2a13;
}

.x-nav-tabs > .active > a, .x-nav-tabs > .active > a:hover {
    box-shadow: inset 0 3px 0 0 #ff2a13;
}

.x-main {
    width: 69.536945%;
}

.x-sidebar {
    width: 25.536945%;
}

.x-comment-author, .x-comment-time, .comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-rating label, .comment-form-comment label, .widget_calendar #wp-calendar caption, .widget.widget_rss li .rsswidget {
    font-family: "Lato",sans-serif;
    font-weight: 700;
}

.p-landmark-sub, .p-meta, input, button, select, textarea {
    font-family: "Lato",sans-serif;
}

.widget ul li a, .widget ol li a, .x-comment-time {
    color: #999999;
}

.widget_text ol li a, .widget_text ul li a {
    color: #ff2a13;
}

    .widget_text ol li a:hover, .widget_text ul li a:hover {
        color: #d80f0f;
    }

.comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-rating label, .comment-form-comment label, .widget_calendar #wp-calendar th, .p-landmark-sub strong, .widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:active, .entry-footer a:hover, .entry-footer a:active, .x-breadcrumbs .current, .x-comment-author, .x-comment-author a {
    color: #272727;
}

.widget_calendar #wp-calendar th {
    border-color: #272727;
}

.h-feature-headline span i {
    background-color: #272727;
}

@media (max-width:979px) {
}

html {
    font-size: 14px;
}

@media (min-width:480px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:767px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:979px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 14px;
    }
}

body {
    font-style: normal;
    font-weight: 400;
    color: #999999;
    background-color: #f3f3f3;
}

.w-b {
    font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 700;
}

h1, .h1 {
    letter-spacing: -0.035em;
}

h2, .h2 {
    letter-spacing: -0.035em;
}

h3, .h3 {
    letter-spacing: -0.035em;
}

h4, .h4 {
    letter-spacing: -0.035em;
}

h5, .h5 {
    letter-spacing: -0.035em;
}

h6, .h6 {
    letter-spacing: -0.035em;
}

.w-h {
    font-weight: 700 !important;
}

.x-container.width {
    width: 88%;
}

.x-container.max {
    max-width: 1200px;
}

.x-main.full {
    float: none;
    display: block;
    width: auto;
}

@media (max-width:979px) {
    .x-main.full, .x-main.left, .x-main.right, .x-sidebar.left, .x-sidebar.right {
        float: none;
        display: block;
        width: auto !important;
    }
}

.entry-header, .entry-content {
    font-size: 1rem;
}

body, input, button, select, textarea {
    font-family: "Lato",sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, blockquote {
    color: #272727;
}

.cfc-h-tx {
    color: #272727 !important;
}

.cfc-h-bd {
    border-color: #272727 !important;
}

.cfc-h-bg {
    background-color: #272727 !important;
}

.cfc-b-tx {
    color: #999999 !important;
}

.cfc-b-bd {
    border-color: #999999 !important;
}

.cfc-b-bg {
    background-color: #999999 !important;
}

.x-btn, .button, [type="submit"] {
    color: #ffffff;
    border-color: #ac1100;
    background-color: #ff2a13;
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
    box-shadow: 0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
    border-radius: 0.25em;
}

    .x-btn:hover, .button:hover, [type="submit"]:hover {
        color: #ffffff;
        border-color: #600900;
        background-color: #ef2201;
        margin-bottom: 0.25em;
        text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
        box-shadow: 0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
    }

    .x-btn.x-btn-real, .x-btn.x-btn-real:hover {
        margin-bottom: 0.25em;
        text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.65);
    }

    .x-btn.x-btn-real {
        box-shadow: 0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
    }

        .x-btn.x-btn-real:hover {
            box-shadow: 0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
        }

    .x-btn.x-btn-flat, .x-btn.x-btn-flat:hover {
        margin-bottom: 0;
        text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.65);
        box-shadow: none;
    }

    .x-btn.x-btn-transparent, .x-btn.x-btn-transparent:hover {
        margin-bottom: 0;
        border-width: 3px;
        text-shadow: none;
        text-transform: uppercase;
        background-color: transparent;
        box-shadow: none;
    }

.x-topbar .p-info a:hover, .x-widgetbar .widget ul li a:hover {
    color: #ff2a13;
}

.x-topbar .p-info, .x-topbar .p-info a, .x-navbar .desktop .x-nav > li > a, .x-navbar .desktop .sub-menu a, .x-navbar .mobile .x-nav li > a, .x-breadcrumb-wrap a, .x-breadcrumbs .delimiter {
    color: #999999;
}

    .x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a, .x-navbar .desktop .sub-menu a:hover, .x-navbar .desktop .sub-menu .x-active > a, .x-navbar .desktop .sub-menu .current-menu-item > a, .x-navbar .desktop .x-nav .x-megamenu > .sub-menu > li > a, .x-navbar .mobile .x-nav li > a:hover, .x-navbar .mobile .x-nav .x-active > a, .x-navbar .mobile .x-nav .current-menu-item > a {
        color: #272727;
    }

    .x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a {
        box-shadow: inset 0 4px 0 0 #ff2a13;
    }

.x-navbar .desktop .x-nav > li > a {
    height: 90px;
    padding-top: 37px;
}

.x-navbar .desktop .x-nav > li ul {
    top: 75px;
    ;
}

@media (max-width:979px) {
}

.x-btn-widgetbar {
    border-top-color: #000000;
    border-right-color: #000000;
}

    .x-btn-widgetbar:hover {
        border-top-color: #444444;
        border-right-color: #444444;
    }

.x-navbar-inner {
    min-height: 90px;
}

.x-brand {
    margin-top: 22px;
    font-family: "Lato",sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: #272727;
    float: right;
    margin: 20px 0 !important;
}

    .x-brand:hover, .x-brand:focus {
        color: #272727;
    }

    .x-brand img {
        width: 74px;
    }

.x-navbar .x-nav-wrap .x-nav > li > a {
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.085em;
    text-transform: uppercase;
}
.x-nav-wrap.desktop{
    float:left;
}
.x-navbar .desktop .x-nav > li > a {
    font-size: 13px;
}

    .x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .x-navbar .desktop .x-nav > li > a > span {
        margin-right: -0.085em;
    }
.x-navbar .desktop .x-nav > li{
    float:right;
}
.x-btn-navbar {
    margin-top: 20px;
}

    .x-btn-navbar, .x-btn-navbar.collapsed {
        font-size: 24px;
    }

@media (max-width:979px) {
    .x-widgetbar {
        left: 0;
        right: 0;
    }
}

.e7-3.x-column, .e7-10.x-column, .e7-13.x-column, .e7-15.x-column, .e7-17.x-column, .e7-20.x-column, .e7-24.x-column, .e7-27.x-column, .e7-31.x-column, .e7-33.x-column, .e7-39.x-column, .e7-42.x-column, .e7-46.x-column, .e7-48.x-column, .e7-54.x-column, .e7-59.x-column, .e7-63.x-column, .e7-65.x-column {
    background-color: transparent;
    z-index: 1;
}

.e7-2.x-container, .e7-9.x-container, .e7-12.x-container, .e7-19.x-container, .e7-23.x-container, .e7-30.x-container, .e7-38.x-container, .e7-45.x-container, .e7-53.x-container, .e7-58.x-container, .e7-62.x-container {
    margin: 0em auto 0em auto;
    background-color: transparent;
    z-index: 1;
}

.e7-1.x-section, .e7-8.x-section, .e7-22.x-section, .e7-29.x-section, .e7-37.x-section, .e7-44.x-section, .e7-52.x-section, .e7-57.x-section, .e7-61.x-section {
    margin: 0em;
    z-index: 1;
}

.e7-1.x-section {
    padding: 111px 0px 0px 0px;
}

.e7-8.x-section {
    padding: 18% 17% 100px 17%;
}

.e7-22.x-section, .e7-29.x-section, .e7-37.x-section, .e7-44.x-section {
    padding: 45px 0px 45px 0px;
}

.e7-52.x-section {
    padding: 40px 0px 45px 0px;
}

.e7-57.x-section, .e7-61.x-section {
    padding: 0px;
}

.e7-8.x-section, .e7-52.x-section {
    background-color: transparent;
}

.e7-22.x-section {
    background-color: #f15a24;
}

.e7-29.x-section {
    background-color: #0071bc;
}

.e7-37.x-section {
    background-color: hsl(282,92%,54%);
}

.e7-44.x-section {
    background-color: hsl(343,67%,66%);
}

.e7-57.x-section {
    background-color: #1beec2;
}

.e7-61.x-section {
    background-color: hsl(0,0%,100%);
}

.scrolling-navbar {
    background-color: rgba(0,0,0,0.65) !important;
}

.scrolling-category-gradient {
    opacity: 0.65 !important;
}

#menu-homepage-navigation a.nav-current-row {
    border-bottom: 5px solid #1beec2;
    box-shadow: none !important;
    color: #ffffff !important;
}

#menu-homepage-navigation a {
    border-bottom-color: transparent;
    transition: all 0.2s;
}

    #menu-homepage-navigation a:hover:not(.nav-current-row) {
        box-shadow: none !important;
        border-bottom: 5px solid #87888c;
        color: rgba(255,255,255,0.7);
    }

.x-breadcrumb-wrap {
    display: none;
}

.trio-phone-container {
    height: 428px;
    max-width: 838px;
    margin: 0 auto;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
    .trio-phone-container {
        width: 69%;
    }
}

@media screen and (max-width:1199px) and (min-width:980px) {
    .trio-phone-container {
        max-width: 728px;
    }
}

@media screen and (max-width:979px) and (min-width:768px) {
}

@media screen and (max-width:767px) and (min-width:481px) {
    .trio-phone-container {
        height: 250px;
        max-width: 500px;
    }
}

@media screen and (max-width:480px) {
    .app-links-container {
        margin-bottom: 20px !important;
    }

        .app-links-container:first-child {
            margin-right: 0 !important;
        }

        .app-links-container:last-child {
            margin-bottom: 35px;
        }

    .trio-phone-container {
        display: none;
    }
}

.illustration-wrapper {
    max-width: 140px;
    margin: 0 auto 15px auto;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
    #how-it-works {
        padding: 16% 16% 100px 16%;
    }
}

@media screen and (max-width:1199px) and (min-width:980px) {
    #how-it-works {
        padding: 18% 8% 100px 8%;
    }
}

@media screen and (max-width:979px) and (min-width:768px) {
    #how-it-works {
        padding: 18% 10% 100px 10%;
    }

    .illustration-row {
        width: 100% !important;
    }

    .illustration-wrapper {
        margin: 0 auto;
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    #how-it-works {
        padding: 25% 0 100px 0;
    }
}

@media screen and (max-width:480px) {
    #how-it-works {
        padding: 100px 0;
    }
}

.app-section-padding {
    padding: 160px 17% 0px 17% !important;
}

.app-description-row {
    width: 100% !important;
}

.app-screen-container {
    width: 444px;
    margin: 0 auto;
}

.mobile-mockup {
    display: none;
}

.grey-gradient {
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear,to top,from(#f9f9f9),to(#dedede));
    background-image: -webkit-linear-gradient(to top,#f9f9f9,#dedede);
    background-image: -moz-linear-gradient(to top,#f9f9f9,#dedede);
    background-image: -o-linear-gradient(to top,#f9f9f9,#dedede);
    background-image: linear-gradient(to top,#f9f9f9,#dedede);
    box-shadow: inset 0 -1px 0 0 #efefef;
    position: relative;
    z-index: 0 !important;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
    .app-screen-container {
        max-width: 444px;
        width: 98%;
    }
}

@media screen and (max-width:1199px) and (min-width:980px) {
    .app-section-padding {
        padding: 160px 15% 0 15% !important;
    }

    .application-left-column, .application-right-column {
        width: 45% !important;
    }

    .application-left-column {
        margin-right: 10%;
    }

    .app-screen-container {
        margin-top: 17%;
        max-width: 372px;
        width: 102%;
    }

    .app-description:last-child {
        margin-bottom: 50px;
    }

    #rewards {
        margin-top: 39%;
    }
}

@media screen and (max-width:979px) and (min-width:768px) {
    .app-section-padding {
        padding: 160px 10% 0 10% !important;
    }

    .application-left-column, .application-right-column {
        margin-right: 0;
        width: 100% !important;
    }

    .desktop-mockup {
        display: none;
    }

    .app-screen-container {
        max-width: 375px;
        width: 70%;
    }

    .mobile-mockup {
        display: block;
        max-width: 375px;
        width: 70%;
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    .app-section-padding {
        padding: 160px 10% 0 10% !important;
    }

    .desktop-mockup {
        display: none;
    }

    .mobile-mockup {
        display: block;
        max-width: 350px;
        width: 75%;
    }

    .app-screen-container {
        max-width: 350px;
        width: 75%;
    }
}

@media screen and (max-width:480px) {
    .app-section-padding {
        padding: 100px 10% 0 10% !important;
    }

    .desktop-mockup {
        display: none;
    }

    .mobile-mockup {
        display: block;
    }

    .app-screen-container {
        width: 100%;
    }
}

#missions-row {
    background-color: #6955f6;
    background-image: -webkit-gradient(linear,300deg,from(#6955f6),to(#1feec3));
    background-image: -webkit-linear-gradient(300deg,#6955f6,#1feec3);
    background-image: -moz-linear-gradient(300deg,#6955f6,#1feec3);
    background-image: -o-linear-gradient(300deg,#6955f6,#1feec3);
    background-image: linear-gradient(300deg,#6955f6,#1feec3);
}

#achievements-row {
    background-color: #1beec2;
    /*background-image: -webkit-gradient(linear,300deg,from(#5e449b),to(#0277bd));
    background-image: -webkit-linear-gradient(300deg,#5e449b,#0277bd);
    background-image: -moz-linear-gradient(300deg,#5e449b,#0277bd);
    background-image: -o-linear-gradient(300deg,#5e449b,#0277bd);
    background-image: linear-gradient(300deg,#5e449b,#0277bd);*/
}

#rewards-row {
    background-color: #6560f2;
    /*background-image: -webkit-gradient(linear,300deg,from(#5e449b),to(#f05351));
    background-image: -webkit-linear-gradient(300deg,#5e449b,#f05351);
    background-image: -moz-linear-gradient(300deg,#5e449b,#f05351);
    background-image: -o-linear-gradient(300deg,#5e449b,#f05351);
    background-image: linear-gradient(300deg,#f05351,#5e449b);*/
}

#invite-row {
    background-color: #0397a7;
    background-image: -webkit-gradient(linear,300deg,from(#0397a7),to(#f05351));
    background-image: -webkit-linear-gradient(300deg,#0397a7,#f05351);
    background-image: -moz-linear-gradient(300deg,#0397a7,#f05351);
    background-image: -o-linear-gradient(300deg,#0397a7,#f05351);
    background-image: linear-gradient(300deg,#0397a7,#f05351);
}

.about-mobee-section-padding {
    padding: 150px 17% 0 17% !important;
}

.bobby-image-container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
}

@media screen and (max-width:1199px) and (min-width:980px) {
    .about-mobee-section-padding {
        padding: 150px 10% 0 10% !important;
    }
}

@media screen and (max-width:979px) and (min-width:768px) {
    .about-mobee-section-padding {
        padding: 150px 10% 0 10% !important;
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    .about-mobee-section-padding {
        padding: 150px 5% 0 5% !important;
    }

    .bobby-image-container {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .about-mobee-section-padding {
        padding: 100px 5% 0 5% !important;
    }

    .bobby-image-container {
        width: 100%;
    }
}

.faq-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 18%;
}

.faq-cta {
    font-family: 'Proxima Nova Regular',sans-serif !important;
    font-size: 34px;
    font-weight: normal !important;
    text-align: left;
    padding: 45px 0 45px 0;
    margin: 0 23px 0 0;
    text-transform: capitalize;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
}

@media screen and (max-width:1199px) and (min-width:980px) {
    .faq-container {
        padding: 0;
    }
}

@media screen and (max-width:979px) and (min-width:768px) {
    .faq-container {
        padding: 0;
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    .faq-container {
        flex-wrap: wrap;
        padding: 0;
    }

    .faq-cta {
        margin: 0;
    }

    .x-btn {
        margin-bottom: 45px !important;
    }
}

@media screen and (max-width:480px) {
    .faq-container {
        flex-wrap: wrap;
        padding: 0;
    }

    .faq-cta {
        font-size: 25px;
        margin: 0;
        padding: 45px 0 20px 0;
    }

    .x-btn {
        margin-bottom: 45px !important;
    }
}

.cta-column-positioning {
    position: relative;
    z-index: 10;
}

.group-mockup-container {
    position: relative;
    width: 822px;
    right: 25%;
    z-index: 1;
}

.applications-button-padding {
    margin-bottom: 72px !important;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
}

@media screen and (max-width:1199px) and (min-width:980px) {
}

@media screen and (max-width:979px) and (min-width:768px) {
}

@media screen and (max-width:767px) and (min-width:481px) {
    .group-mockup-container {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .group-mockup-container {
        display: none;
    }
}

.application-button-container {
    margin-bottom: 16px;
    text-align: center;
}

.app-links-container {
    margin: 0 auto;
    max-height: 49px;
    display: inline-block;
}

    .app-links-container:first-child {
        margin-right: 10px;
    }

.apple {
    max-width: 143px;
}

.google {
    max-width: 158.5px;
}

@media screen and (max-width:1439px) and (min-width:1200px) {
}

@media screen and (max-width:1199px) and (min-width:980px) {
}

@media screen and (max-width:979px) and (min-width:768px) {
    .h2, h2 {
        text-align: center !important;
    }

    .app-description {
        text-align: center !important;
    }
}

@media screen and (max-width:767px) and (min-width:481px) {
    .h2, h2, .h3, h3 {
        text-align: center !important;
        font-family: 'Droid Arabic Kufi' !important;
    }

    .app-description {
        text-align: center !important;
    }
}

@media screen and (max-width:480px) {
    .h1, h1, .h2, h2 {
        font-size: 45px !important;
    }

    .h1-subheader {
        font-size: 25px;
        line-height: 1.5em;
    }

    .h2, h2, .h3, h3 {
        text-align: center !important;
        font-family: 'Droid Arabic Kufi' !important;
    }

    .app-description {
        text-align: center !important;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 45px;
}

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
.app-description, .about-mobee-description{
    text-align:justify;
}
ul.x-nav > li.menu-item > a > span {
    font-family: 'Droid Arabic Kufi';
}

#mc_embed_signup input.email {
    margin: 0 0% 10px 0 !important;
}
.mailchimp-description {
    font-family: 'Droid Arabic Kufi';
}
#mc_embed_signup label{
    text-align:right!important;
}
.widget ul, .mailchimp-subscription-container {
    border-top: 2px solid #1beec2;
}