﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
    List<Mhana.Models.Setting> s = (List<Mhana.Models.Setting>)ViewBag.item;
}

<form action="@Url.Action("Index")" method="post" id="OptionsForm" enctype="multipart/form-data">
<div class="form-group m-form__group row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            الاعدادات العامة
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group m-form__group row hidden">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>بريد التواصل</label>
                            <input class="form-control m-input" name="contact_email" value="@(s.Where(w=>w.option_key=="contact_email").FirstOrDefault()!=null?s.Where(w=>w.option_key=="contact_email").FirstOrDefault().option_value:"")" />
                        </div>

                    </div>

                    <div class="col-lg-6 hidden">
                        <div class="form-group">
                            <label>الأيبان</label>
                            <input class="form-control m-input" name="ipan" value="@(s.Where(w => w.option_key == "ipan").FirstOrDefault() != null ? s.Where(w => w.option_key == "ipan").FirstOrDefault().option_value : "")" />
                        </div>

                    </div>
                </div>
                <div class="form-group m-form__group row hidden">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>% نسبة الموقع من الاشتراكات</label>
                            <input class="form-control m-input" type="number" name="site_rate" value="@(s.Where(w=>w.option_key=="site_rate").FirstOrDefault()!=null?s.Where(w=>w.option_key=="site_rate").FirstOrDefault().option_value:"")" />
                        </div>

                    </div>
                </div>

                <div class="form-group m-form__group row hidden">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>رقم جوال التواصل</label>
                            <input class="form-control m-input" name="mobile" value="@(s.Where(w => w.option_key == "mobile").FirstOrDefault() != null ? s.Where(w => w.option_key == "mobile").FirstOrDefault().option_value : "")" />
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>الفيس بوك</label>
                            <input class="form-control m-input" name="facebook" value="@(s.Where(w => w.option_key == "facebook").FirstOrDefault() != null ? s.Where(w => w.option_key == "facebook").FirstOrDefault().option_value : "")" />
                        </div>

                    </div>
                </div>
                <div class="form-group m-form__group row hidden">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>تويتر</label>
                            <input class="form-control m-input" name="twitter" value="@(s.Where(w => w.option_key == "twitter").FirstOrDefault() != null ? s.Where(w => w.option_key == "twitter").FirstOrDefault().option_value : "")" />
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>انستقرام</label>
                            <input class="form-control m-input" name="instagram" value="@(s.Where(w => w.option_key == "instagram").FirstOrDefault() != null ? s.Where(w => w.option_key == "instagram").FirstOrDefault().option_value : "")" />
                        </div>

                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>رابط الاندرويد على الستور</label>
                            <input class="form-control m-input" name="android" value="@(s.Where(w => w.option_key == "android").FirstOrDefault() != null ? s.Where(w => w.option_key == "android").FirstOrDefault().option_value : "")" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>رابط الأيفون على الستور</label>
                            <input class="form-control m-input" name="iphone" value="@(s.Where(w => w.option_key == "iphone").FirstOrDefault() != null ? s.Where(w => w.option_key == "iphone").FirstOrDefault().option_value : "")" />
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>الاسم المسجل للرسائل النصية</label>
                            <input name="mobile_sender" class="form-control m-input" value="@(s.Where(w => w.option_key == "mobile_sender").FirstOrDefault() != null ? s.Where(w => w.option_key == "mobile_sender").FirstOrDefault().option_value : "")" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>اسم مستخدم الرسائل النصية</label>
                            <input name="mobile_user" class="form-control m-input" value="@(s.Where(w => w.option_key == "mobile_user").FirstOrDefault() != null ? s.Where(w => w.option_key == "mobile_user").FirstOrDefault().option_value : "")" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>كلمة مرور الرسائل النصية</label>
                            <input name="mobile_password" class="form-control m-input" value="@(s.Where(w => w.option_key == "mobile_password").FirstOrDefault() != null ? s.Where(w => w.option_key == "mobile_password").FirstOrDefault().option_value : "")" />
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>المواد التدريسية</label>
                            <input class="form-control m-input" name="material" value="@(s.Where(w => w.option_key == "material").FirstOrDefault() != null ? s.Where(w => w.option_key == "material").FirstOrDefault().option_value : "")" />
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>شروط الاستخدام</label>
                            <textarea name="term" class="form-control m-input term" rows="10">@(s.Where(w => w.option_key == "term").FirstOrDefault() != null ? s.Where(w => w.option_key == "term").FirstOrDefault().option_value : "")</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>عن التطبيق</label>
                            <textarea name="about" class="form-control m-input about" rows="10">@(s.Where(w => w.option_key == "about").FirstOrDefault() != null ? s.Where(w => w.option_key == "about").FirstOrDefault().option_value : "")</textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>شروط العقود</label>
                            <textarea name="contract_term" class="form-control m-input term" rows="10">@(s.Where(w => w.option_key == "contract_term").FirstOrDefault() != null ? s.Where(w => w.option_key == "contract_term").FirstOrDefault().option_value : "")</textarea>
                        </div>
                    </div>
                </div>
                @*<div class="form-group m-form__group row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>عن التطبيق</label>
                    <textarea name="about_en" class="form-control m-input about" rows="10">@(s.Where(w => w.option_key == "about_en").FirstOrDefault() != null ? s.Where(w => w.option_key == "about_en").FirstOrDefault().option_value : "")</textarea>
                </div>
            </div>
        </div>*@


                <div class="form-group m-form__group row">
                    <div class="col-md-12">
                        <hr />
                        <button type="submit" class="btn blue"> <i class="fa fa-save"></i> حفظ المتغيرات</button>
                        <a class="btn default" href="@Url.Action("Index")"><i class="fa fa-reply"></i> الغاء الأمر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>