﻿@model Mhana.Models.ContactModelCompany
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
@*<div class="col-lg-12">@Html.Action(actionName: "MyRequests", controllerName: "Dashboard", routeValues: new { area = "" })</div>*@
<div class="col-lg-12">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        التواصل مع الادارة
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" value="Save" name="Save" action="@Url.Action("Contact","Account")" id="form-request">
            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    @*<div class="form-group m-form__group row">
                     <div class="col-lg-6">
                         <label> اسم العميل</label>
                         @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control m-input", @required = "required" })
                     </div>
                </div>*@

                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label> الاسم</label>
                            @Html.TextBoxFor(model => model.fullname, new { @class = "form-control m-input" })
                        </div>
                        <div class="col-lg-6">
                            <label> البريد الالكتروني</label>
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control m-input" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label> عنوان الرسالة</label>
                            @Html.TextBoxFor(m => m.title, new { id = "QuestionsCount", type = "text", min = "10", max = "15", value = "10", step = "1", @class = "form-control m-input", @required = "required" })

                        </div>
                    </div>
                    <div class="form-group m-form__group row">

                        <div class="col-lg-12">
                            <label>تفاصيل الرسالة </label>
                            @Html.TextAreaFor(m => m.message, new { @rows = "6", @class = "form-control m-input" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                    <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
</div>
</div>

@section Scripts{
}

