﻿			<!-- begin::Footer -->
<footer class="m-grid__item		m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    @DateTime.Now.Year &copy; MHANA theme by <a href="#" class="m-link">MHANA</a>
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">من نحن</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">الخصوصية</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">شروط الاستخدام</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="#" class="m-nav__link">
                            <span class="m-nav__link-text">ألية العمل </span>
                        </a>
                    </li>
                    <li class="m-nav__item m-nav__item">
                        <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                            <i class="m-nav__link-icon flaticon-technology-1 m--icon-font-size-lg3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- end::Footer -->
		</div>

<!-- end:: Page -->
<!-- begin::Quick Sidebar -->


<!-- end::Quick Sidebar -->
<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
    <i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->
<!-- begin::Quick Nav -->
@*<ul class="m-nav-sticky" style="margin-top: 30px;">
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Purchase" data-placement="left">
        <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank"><i class="la la-cart-arrow-down"></i></a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Documentation" data-placement="left">
        <a href="https://keenthemes.com/metronic/documentation.html" target="_blank"><i class="la la-code-fork"></i></a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Support" data-placement="left">
        <a href="https://keenthemes.com/forums/forum/support/metronic5/" target="_blank"><i class="la la-life-ring"></i></a>
    </li>
</ul>*@


<!--end::Page Vendors -->
<!--begin::Page Scripts -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تأكيد عملية  الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-alert m-alert--icon alert alert-danger" role="alert">
                    <div class="m-alert__icon">
                        <i class="la la-danger"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong>هل ترغب في الغاء تفعيل هذا العنصر ؟ في حالة التأكيد سيكون العنصر غير فعال </strong>
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Hide"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                <a class="btn btn-primary btn-remove">حفظ</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-active" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تأكيد عملية  التفعيل</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-alert m-alert--icon alert alert-warning" role="alert">
                    <div class="m-alert__icon">
                        <i class="la la-warning"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong>هل ترغب في  تفعيل هذا العنصر ؟ في حالة التأكيد سيكون العنصر متاح للاستخدام </strong>
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Hide"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                <a class="btn btn-primary btn-ok">حفظ</a>
            </div>
        </div>
    </div>
</div>
<!-- begin::Quick Nav -->
<!--begin:: Global Mandatory Vendors -->
@Scripts.Render("~/bundles/Mandatory")
<!--end:: Global Mandatory Vendors -->
<!--begin:: Global Optional Vendors -->
@Scripts.Render("~/bundles/bootstrap")
<!--end:: Global Optional Vendors -->
<!--begin::Global Theme Bundle -->
<script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="~/assets/demo/demo7/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->
<!--begin::Page Vendors -->
<script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
<!--end::Page Vendors -->
<!--begin::Page Scripts -->
<script src="~/assets/app/js/dashboard.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".DeleteBox").click(function () {
            var modal = $('#confirm-delete');
            modal.find('.btn-remove').attr('href', $(this).data('href'));
            console.log($(this).data('href'));


        });
        $(".ActiveBox").click(function () {
            var modal = $('#confirm-active');
            modal.find('.btn-ok').attr('href', $(this).data('href'));

        });
        $(".RejectBox").click(function () {
            var modal = $('#confirm-delete');
            $("#userID").val($(this).data('id'));
            modal.find('.btn-remove').attr('href', $(this).data('href'));

        });
        
    });
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        });
</script>
<!--end::Page Scripts -->
	