﻿@model Mhana.Models.StdNewRequest
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            بيانات طلب من الطالب :@(Model.AspNetUser != null ? (string.IsNullOrEmpty(Model.AspNetUser.fullname) ? (Model.AspNetUser.first_name + " " + Model.AspNetUser.last_name) : Model.AspNetUser.fullname) : "---")
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">1. البيانات الأساسية : </h3>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label for="example_input_full_name">مرسل الطلب </label>
                                <input type="text" class="form-control m-input" name="title" value="@(Model.AspNetUser!=null ? (string.IsNullOrEmpty(Model.AspNetUser.fullname)?(Model.AspNetUser.first_name + " "+ Model.AspNetUser.last_name): Model.AspNetUser.fullname ): "---")" disabled>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>تاريخ بداية المطلوب</label>
                                <input disabled type="text" class="form-control m-input" name="start_date" id="m_datetimepicker_1" autocomplete="off" value="@Model.start_date">

                            </div>
                            <div class="col-md-6">
                                <label>طريقة التدريس</label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="teaching_mechanism" disabled>
                                        <option value="">-- اختر طريقة التدريس --</option>
                                        <option value="online" @(Model.teaching_mechanism == "online" ? "selected" : "")>أونلاين</option>
                                        <option value="onsite" @(Model.teaching_mechanism == "onsite" ? "selected" : "")>في المكان</option>
                                        <option value="both" @(Model.teaching_mechanism == "both" ? "selected" : "")>كلاهما</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label>مدة الدورة بالأيام</label>
                                <input type="text" class="form-control m-input" name="period" value="@Model.period" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>المادة المطلوب تدريسها</label>
                                <input type="text" class="form-control m-input" name="total_std" value="@Model.material" disabled>

                            </div>
                        </div>
                         @{
                             if(Model.teaching_mechanism=="onsite"){
                                <div class="form-group m-form__group row">
                                    <div class="col-md-12">
                                        <label>موقع الطالب على الخريطة</label>
                                        <div id="map" style="height:500px"></div>
                                    </div>
                                </div>
                             }
                         }
                        <div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label>تفاصيل أخرى</label>
                                <textarea class="form-control m-input" name="details" rows="10" disabled>@Model.details</textarea>

                            </div>
                        </div>
                        @*<div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label>الرد على مقدم الطلب</label>
                                <textarea class="form-control m-input" name="details" rows="10">@Model.teacher_notes</textarea>
                            </div>
                        </div>*@

                        @*<div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label>الرد على مقدم الطلب</label>
                                <div class="m-radio-list">

                                    <label class="m-radio">
                                        <input type="radio" required name="status" value="1" @((Model.status == 1 || Model.status == 2) ? "checked" : "") @(Model.status != 0 ? "disabled" : "")> الموافقة على الطلب وارسال العقد
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" required name="status" value="-1" @(Model.status == -1 ? "checked" : "") @(Model.status == 2 || Model.status == 1 ? "disabled" : "") @(Model.status != 0 ? "disabled" : "")> رفض الطلب
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        @*@if (Model.status == 0)
                        {
                            <button type="submit" class="btn btn-info">الرد على الطلب </button>
                        }
                        @if (Model.status == 2)
                        {
                            <a href="@Url.Action("Create","Courses",new {req=Model.Id})" class="btn btn-success">تحويل الطلب الى درس</a>

                        }*@
                        <a href="@Url.Action("Requests")" class="btn btn-secondary">رجوع</a>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section scripts{
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script>
        $(".m_datetimepicker_sch").datetimepicker({ todayHighlight: !0, autoclose: !0, format: "yyyy.mm.dd hh:ii" });
        $(document).on('click', '.addSch', function () {
            var elemnt = '';
            elemnt += '<div class="form-group m-form__group row">';
            elemnt += '<div class="col-md-6">';
            elemnt += '<label>يرجى تاريخ ووقت الدروس</label>';
            elemnt += '<input class="form-control m-input m_datetimepicker_sch" name="schedual[]" />';
            elemnt += '</div>';
            elemnt += '<div class="col-md-4">';
            elemnt += '<label style="display:block">&nbsp;</label>';
            elemnt += '<a href="JavaScript:Void(0)" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only addSch">';
            elemnt += ' <i class="la la-plus"></i>';
            elemnt += '</a>';
            elemnt += '<a href="JavaScript:Void(0)" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only trashSch">';
            elemnt += ' <i class="la la-trash"></i>';
            elemnt += '</a>';
            elemnt += '</div>';
            elemnt += '</div>';
            $("#mySch").append(elemnt);
            $(".m_datetimepicker_sch").datetimepicker({ todayHighlight: !0, autoclose: !0, format: "yyyy.mm.dd hh:ii" });
        });
    </script>

       <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: @Model.lat, lng: @Model.lng},
          zoom: 8
        });
          var marker = new google.maps.Marker({
            position: {lat: @Model.lat, lng: @Model.lng},
            map: map,
            title: 'موقع الطالب '
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJsoUmkmuNZR-Wrf-xGccnUowt6Ax3ZL8&callback=initMap"
    async defer></script>
}