﻿@model IEnumerable<Mhana.Models.TeacherListAdmin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}
<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
   <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            البحث عن طالب
                        </h3>
                    </div>
                </div>
            </div>
            <form class="m-form m-form--fit" action="@Url.Action("Index")" method="get" enctype="multipart/form-data">
                <div class="form-group m-form__group row">
                    <div class="col-md-4">
                        <label>اسم الطالب</label>
                        <input type="text" class="form-control m-input" name="name" autocomplete="off" value="@(Request.QueryString["name"]!=null? Request.QueryString["name"]:"")">

                    </div>
                    <div class="col-md-4">
                        <label>رقم جوال الطالب</label>
                        <input type="text" class="form-control m-input" name="mobile" autocomplete="off" value="@(Request.QueryString["mobile"]!=null?Request.QueryString["mobile"]:"")">

                    </div>
                    <div class="col-md-4">
                        <label>البريد الالكتروني </label>
                        <input type="email" class="form-control m-input" name="email" autocomplete="off" value="@(Request.QueryString["email"]!=null?Request.QueryString["email"]:"")">

                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-md-4">
                        <label>الدورات المسجل بها  </label>
                        <div class="m-input-icon m-input-icon--left">
                            <select class="form-control m-input" name="course_id">
                                <option value="">-- اختر الدورة المسجلة --</option>
                                @if(ViewBag.courses !=null){
                                    foreach (var item in ViewBag.courses)
                                    {
                                        <option value="@item.id" @(item.id + "" == Request.QueryString["course_id"] ? "selected" : "")>@item.value</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-success">ابحث الآن</button>
                      <a type="reset" class="btn btn-secondary" href="@Url.Action("Index")">الغاء الأمر</a>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
   
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الطلاب المسجلين في النظام
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>اسم الطالب</th>
                                    <th>رقم الجوال</th>
                                    <th>البريد الالكتروني</th>
                                    <th>تاريخ التسجيل</th>
                                   
                                    <th>حالة الطالب</th>
                                    <th>عمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.fullname</td>
                                        <td>@item.mobile</td>
                                        <td>@item.email</td>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                       


                                        <td class="text-center">
                                            @{

                                                if (item.status == 1)
                                                {
                                                    <span class="m-badge  m-badge--success m-badge--wide">مقبول</span>
                                                }
                                                if (item.status == -1 || item.status == 0)
                                                {
                                                    <span class="m-badge  m-badge--danger m-badge--wide">موقوف</span>
                                                }
                                            }
                                        </td>
                                        <td nowrap>
                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="Edit details">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                @{

                                                    if (item.status == 1)
                                                    {
                                                        <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("Deactive", new { id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="Delete"><i class="la la-trash"></i></a>
                                                    }

                                                    else
                                                    {
                                                        <a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("Active", new { id=item.id})" class="btn btn-success m-btn m-btn--icon m-btn--icon-only ActiveBox" title="Active"><i class="la la-check-circle"></i></a>
                                                    }

                                                }
                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("Delete", new { id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="Delete"><i class="la la-remove"></i></a>

                                            </span>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم يصلك طلبات بعد  .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>

@section Scripts{
    @*<script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@
    @*<script src="~/assets/demo/default/custom/crud/datatables/basic/basic.js" type="text/javascript"></script>*@
}