﻿@model IEnumerable<Mhana.Models.Invite>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}
<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            عرض كافة الدعوات المرسلة
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>مرسل الى</th>
                                    <th>البريد الالكتروني</th>
                                    <th>تاريخ الارسال</th>
                                    <th>نوع الطلب </th>
                                    @*<th>حالة الطلب</th>
                                    <th>عمليات</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.std_name</td>
                                        <td>@item.email</td>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                        <td>
                                            @{

                                                if (item.invite_type == 0)
                                                {
                                                    @:دعوة الى طالب
                                                }
                                                if (item.invite_type == 1)
                                                {
                                                    @:دعوة الى معلم
                                                }
                                            }
                                        </td>
                                        @*<td>
                    @{
                        if (item.status == 0)
                        {
                            <span class="m-badge  m-badge--warning m-badge--wide">بانتظار الرد</span>
                        }
                        if (item.status == 1)
                        {
                            <span class="m-badge  m-badge--success m-badge--wide">مقبول</span>
                        }
                    }
                </td>*@
                                        @*@*<td nowrap>
                    <span style="overflow: visible; position: relative; width: 110px;">

                        @{
                                if(item.status==0)
                                {
                                    <a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("Active", new { id=item.id})" class="btn btn-success m-btn m-btn--icon m-btn--icon-only ActiveBox" title="Active"><i class="la la-check-circle"></i></a>
                                }

                            }
                    </span>

                </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم يتم ارسال دعوات من طرفك الى أي شخص مسبقاً  .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>

@section Scripts{
    @*<script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@
    @*<script src="~/assets/demo/default/custom/crud/datatables/basic/basic.js" type="text/javascript"></script>*@
}