﻿@model IEnumerable<Mhana.Models.RateModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}
<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            عرض تقييمات المعلمين للطلاب
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>الطالب</th>
                                    <th>المعلم</th>
                                    <th>تاريخ التقييم</th>
                                    <th>الدرس التابع له التقييم</th>
                                    <th>التقييم</th>

                                    <th>عمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.student_name</td>
                                        <td>@item.teacher_name</td>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.cdate)</td>
                                        <td>@item.course_title</td>
                                        <td>@item.rate</td>
                                        <td nowrap>
                                           
                                            <input type="hidden" value="@item.comment" class="hdcomment"/>
                                            <a  data-target="#theModal" data-toggle="modal" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="عرض التقرير">
                                                <i class="la la-edit"></i>
                                            </a>
                                             <span style="overflow: visible; position: relative; width: 110px;">
                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("DeleteRate", new { id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="حذف التعليق"><i class="la la-trash"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم يصل تقييمات بعد  .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>
<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">بيانات الطالب </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*<script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@
    @*<script src="~/assets/demo/default/custom/crud/datatables/basic/basic.js" type="text/javascript"></script>*@
    <script>
        $('#theModal').on('show.bs.modal', function (e) {
            var loadurl = $(e.relatedTarget).closest("td").find(".hdcomment");
            console.log(loadurl);
            $(this).find('.modal-body').append(loadurl.val());
        });
        $('#theModal').on('hidden.bs.modal', function (e) {           
            $(this).find('.modal-body').html("");
        });
    </script>
}