﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}


<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            ارسال اشعار للمستخدمين
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" action="@Url.Action("Create")" id="form-login" enctype="multipart/form-data">
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-12">
                                        <div class="m-form__label">
                                            <label>عنوان الاشعار</label>
                                        </div>
                                        <input type="text" class="form-control m-input" placeholder="عنوان الاشعار" name="title" required>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-12">
                                        <div class="m-form__label">
                                            <label>تفاصيل الاشعار</label>
                                        </div>
                                        <textarea name="details" rows="5" class="form-control m-input" placeholder="تفاصيل الاشعار" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">حفظ التغيرات</button>
                                    <a href="@Url.Action("Index")" class="btn btn-secondary">الغاء الأمر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

