﻿@model IEnumerable<Mhana.Models.NotificationModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}
<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الاشعارات المرسلة للمستخدمين
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>عنوان الاشعار</th>
                                    <th>المستهدف من الاشعار</th>
                                    <th>تاريخ الارسال</th>
                                    <th>نوع الارسال</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.title</td>
                                        <td>
                                            @{
                                                if (item.type == 1)
                                                {
                                                    <a href="@Url.Action("EditRequest","Students",new {id=item.rel_id })">الرابط</a>
                                                }
                                                else if (item.type == 2)
                                                {
                                                    <a href="@Url.Action("EditRequest","Students",new {id=item.rel_id })">الرابط</a>
                                                }
                                                else if (item.type == 3)
                                                {
                                                    <a href="@Url.Action("EditRequest","Students",new {id=item.rel_id })">الرابط</a>
                                                }
                                                else if (item.type == 4)
                                                {
                                                    <a href="@Url.Action("Edit","Courses",new {id=item.rel_id })">الرابط</a>
                                                }
                                                else
                                                {
                                                    @:---
                                                }

                                            }
                                        </td>
                                        <td>@item.cdate</td>
                                        <td>
                                            @{
                                                if (item.type == 1)
                                                {
                                                    @:الطلبات
                                                }
                                                else if (item.type == 2)
                                                {
                                                    @:الطلبات
                                                }
                                                else if (item.type == 3)
                                                {
                                                    @:الطلبات
                                                }
                                                else if (item.type == 4)
                                                {
                                                    @:الدورات
                                                }
                                                else
                                                {
                                                    @:عام
                                                }

                                            }
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> ليس لديك اشعارات مسجلة   .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>