﻿
@{
    ViewBag.Title = "Change_password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            تغيير كلمة المرور
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" action="@Url.Action("change_password")" id="form-login" enctype="multipart/form-data">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-8">
                                    <label>كلمة المرور الحالية</label>
                                    <input type="password" class="form-control m-input" name="CurrentPassword">

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-8">
                                    <label>كلمة المرور الجديدة</label>
                                    <input type="password" class="form-control m-input" name="Password">

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-8">
                                    <label>تأكيد كلمة المرور الجديدة</label>
                                    <input type="password" class="form-control m-input" name="Password">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                            <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>