﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            اضافة مدير نظام جديد
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" action="@Url.Action("Create")" id="form-login" enctype="multipart/form-data">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label>الاسم رباعي </label>
                                    <input type="text" class="form-control m-input" placeholder="" name="fullname" required>

                                </div>
                                <div class="col-lg-6">
                                    <label>البريد الالكتروني </label>
                                    <input type="email" class="form-control m-input" placeholder="" name="email" required>

                                </div>

                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label>رقم الهوية </label>
                                    <input type="text" class="form-control m-input" placeholder="" name="absher_no">

                                </div>
                                <div class="col-lg-6">
                                    <label>رقم الجوال </label>
                                    <input type="text" class="form-control m-input" placeholder="" name="phoneNumber" required>

                                </div>

                            </div>                    
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label for="exampleInputEmail1">الصورة الشخصية</label>
                                    <div></div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="photo_file">
                                        <label class="custom-file-label selected" for="customFile"></label>
                                        <span class="m-form__help">يسمح فقط بصورة بصيغة PNG JPG </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">حفظ التغيرات</button>
                                    <a href="@Url.Action("Users")" class="btn btn-secondary">الغاء الأمر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
