﻿@model IEnumerable<Mhana.Models.AspNetUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
    int i = 1;
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            عرض مدراء النظام
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">

                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-4">
                                    <div class="m-form__label">
                                        <label>اسم المستخدم</label>
                                    </div>
                                    <input type="text" class="form-control m-input" placeholder="اسم المستخدم" id="m_form_name">
                                </div>
                                <div class="col-md-4">
                                    <div class="m-form__label">
                                        <label>البريد الالكتروني</label>
                                    </div>
                                    <input type="text" class="form-control m-input" placeholder="البريد الالكتروني" id="m_form_email">
                                </div>
                                <div class="col-md-4">
                                    <div class="m-form__label">
                                        <label>رقم الجوال</label>
                                    </div>
                                    <input type="text" class="form-control m-input" placeholder="رقم الجوال" id="m_form_mobile">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th>رقم</th>
                            <th>اسم المستخدم</th>
                            <th>البريد الالكتروني</th>
                            <th>رقم الجوال</th>
                            <th>حالة المستخدم</th>
                            <th>العمليات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.fullname</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@(item.status == -1 ? "موقوف" : "فعال")</td>
                                <td data-field="Actions" class="m-datatable__cell">
                                    <span style="overflow: visible; position: relative; width: 110px;">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="Edit details">
                                            <i class="la la-edit"></i>
                                        </a>
                                        @{

                                            if (item.status == 1)
                                            {
                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("Deactive", new { id=item.Id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="Delete"><i class="la la-trash"></i></a>
                                            }

                                            else
                                            {
                                                <a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("Active", new { id=item.Id})" class="btn btn-success m-btn m-btn--icon m-btn--icon-only ActiveBox" title="Active"><i class="la la-check-circle"></i></a>
                                            }

                                        }
                                    </span>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../../assets/demo/custom/crud/metronic-datatable/base/html-table.js" type="text/javascript"></script>

}