﻿@model IEnumerable<Mhana.Models.todayLesson>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            دروس اليوم لكافة المعملين
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>الدرس التابع لها</th>
                                    <th>وقت اقامة اللقاء</th>
                                    <th>عدد المسجلين</th>
                                    <th>رابط الدرس</th>
                                    <th>عمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.course_name</td>
                                        <td>@item.sch_time</td>
                                        <td>@item.total_std</td>
                                        <td>@Html.Raw((item.status == 1 && !string.IsNullOrEmpty(item.link) ? "<a href='" + item.link + "'>رابط الدرس</a>" : "لم يتم انشاء رابط الدرس"))</td>
                                        <td nowrap>
                                            <span style="overflow: visible; position: relative; width: 110px;">

                                                @{
                                                    if (item.status == 0 && string.IsNullOrEmpty(item.link))
                                                    {
                                                        @*<a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("Active", new { id=item.id})" class="btn btn-success m-btn m-btn--icon m-btn--icon-only ActiveBox" title="Active">انشاء رابط الدرس <i class="la la-check-circle"></i></a>*@
                                                        <a data-toggle="modal" data-target="#confirm-active" data-href="@Url.Action("ActiveToday", new { id=item.id})" class="btn btn-success ActiveBox">انشاء رابط</a>
                                                    }
                                                    <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("CancelToday", new { id=item.id})" class="btn btn-danger DeleteBox" title="Delete">الغاء الدرس</a>

                                                }
                                            </span>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم يتم ارسال دعوات من طرفك الى أي شخص مسبقاً  .
                        </div>
                    }
                }
            </div>


        </div>


        <!--end::Portlet-->
    </div>
</div>
<div class="row">
    <div class="col-xl-12">

        <!--begin::Portlet-->
        <div class="m-portlet " id="m_portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            دروس الشهر الحالي لكافة المعلمين
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                <span>
                                    <i class="la la-refresh"></i>
                                    <span>تحديث</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div id="m_calendar"></div>
            </div>
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section Scripts{
    @*<script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>*@
    @*<script src="~/assets/demo/default/custom/crud/datatables/basic/basic.js" type="text/javascript"></script>*@
    <script>
        if (0 !== $("#m_calendar").length) {
            $("#m_calendar").fullCalendar({
                isRTL: mUtil.isRTL(),
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay,listWeek"
                }, editable: !0,
                eventLimit: !0,
                navLinks: !0,
                defaultDate: moment("2019-10-28"),
                events: [

                @{
                    foreach (var item in ViewBag.course)
                    {
                        @:{
                            @:title: "@item.course_name",
                            @:start: moment("@string.Format("{0:yyyy-MM-dd}", item.sch_date)"),
                           @: description:  "@item.course_name",
                           @: className: "m-fc-event--light m-fc-event--solid-success"
                        @:},
                    }
                }

                ],
                eventRender: function (e, t) { t.hasClass("fc-day-grid-event") ? (t.data("content", e.description), t.data("placement", "top"), mApp.initPopover(t)) : t.hasClass("fc-time-grid-event") ? t.find(".fc-title").append('<div class="fc-description">' + e.description + "</div>") : 0 !== t.find(".fc-list-item-title").lenght && t.find(".fc-list-item-title").append('<div class="fc-description">' + e.description + "</div>") }
            })
        }
    </script>
}