﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body  m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-md-12 col-lg-6 col-xl-3">

                <!--begin::Total Profit-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            عدد الطلبات المرسلة
                        </h4><br>
                        <span class="m-widget24__desc">
                           الطلبات المرسلة من الطلبة
                        </span>
                        <span class="m-widget24__stats m--font-brand">
                            @ViewBag.requests
                        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        @*<span class="m-widget24__change">
                            معدل
                        </span>
                        <span class="m-widget24__number">
                            100%
                        </span>*@
                    </div>
                </div>

                <!--end::Total Profit-->
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">

                <!--begin::New Feedbacks-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            عدد الدروس المسجلة
                        </h4><br>
                        <span class="m-widget24__desc">
                            نسبة الدروس مقابل الطلبات
                        </span>
                        <span class="m-widget24__stats m--font-info">
                           @ViewBag.courses
                        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-info" role="progressbar" style="width:  @(ViewBag.courses *100/(ViewBag.courses_all==0?1: ViewBag.courses_all))%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="m-widget24__change">
                            معدل
                        </span>
                        <span class="m-widget24__number">
                            @(ViewBag.courses *100/(ViewBag.courses_all==0?1: ViewBag.courses_all)) %
                        </span>
                    </div>
                </div>

                <!--end::New Feedbacks-->
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">

                <!--begin::New Orders-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            عدد المعلمين الفعالين
                        </h4><br>
                        <span class="m-widget24__desc">
                            نسبة المعلمين الفعالين 
                        </span>
                        <span class="m-widget24__stats m--font-danger">
                            @ViewBag.teacher_active
                        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-danger" role="progressbar" style="width: @(ViewBag.teacher_active *100 / (ViewBag.teacher==0?1: ViewBag.teacher))%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="m-widget24__change">
                            معدل
                        </span>
                        <span class="m-widget24__number">
                            @(ViewBag.teacher_active *100 / (ViewBag.teacher==0?1: ViewBag.teacher)) %
                        </span>
                    </div>
                </div>

                <!--end::New Orders-->
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">

                <!--begin::New Users-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                           عدد الطلاب الفعالين
                        </h4><br>
                        <span class="m-widget24__desc">
                            نسبة الطلاب بالنسبة لكافة الطلاب
                        </span>
                        <span class="m-widget24__stats m--font-success">
                           @ViewBag.std_active
                        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-success" role="progressbar" style="width: @(ViewBag.std_active*100/ (ViewBag.std==0?1: ViewBag.std))%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="m-widget24__change">
                            معدل
                        </span>
                        <span class="m-widget24__number">
                           @(ViewBag.std_active*100/ (ViewBag.std==0?1: ViewBag.std)) %
                        </span>
                    </div>
                </div>

                <!--end::New Users-->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6">
        <!--begin:: Widgets/New Users-->
        <div class="m-portlet m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            معلمون على قائمة الانتظار
                        </h3>
                    </div>
                </div>            
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="m_widget4_tab1_content">

                        <!--begin::Widget 14-->
                        <div class="m-widget4">
                            @foreach (var item in ViewBag.NewT)
                            {
                                <div class="m-widget4__item">
                                    <div class="m-widget4__img m-widget4__img--pic">
                                        <img src="~/resources/users/default.png" alt="">
                                    </div>
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                           @item.fullname
                                        </span><br>
                                               <span class="m-widget4__sub">
                                                   @item.specialization -- @item.branch_specialization
                                               </span>
                                    </div>
                                    <div class="m-widget4__ext">
                                        <a href="@Url.Action("Edit","Teachers",new {id=item.id })" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">تفاصيل</a>
                                    </div>
                                </div>
                            }
                           
                            <!--end::Widget 14 Item-->
                        </div>

                        <!--end::Widget 14-->
                    </div>
                    
                </div>
            </div>
        </div>

        <!--end:: Widgets/New Users-->
    </div>
    <div class="col-xl-6">

        <!--begin:: Widgets/Sales States-->
        <div class="m-portlet m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                           طلبات جديدة في الانتظار
                        </h3>
                    </div>
                </div>                
            </div>
            <div class="m-portlet__body">
                <div class="m-widget6">
                    <div class="m-widget6__head">
                        <div class="m-widget6__item">
                            <span class="m-widget6__caption">
                                مقدم الطلب
                            </span>
                            <span class="m-widget6__caption">
                                المعلم
                            </span>
                            <span class="m-widget6__caption m--align-right">
                                المادة
                            </span>
                        </div>
                    </div>
                    <div class="m-widget6__body">
                        @foreach (var item in ViewBag.RequestsN)
                        {
                            <div class="m-widget6__item">
                                <span class="m-widget6__text">
                                    @item.student_name
                                </span>
                                <span class="m-widget6__text">
                                    @item.teacher_name
                                </span>
                                <span class="m-widget6__text m--align-right m--font-boldest m--font-brand">
                                   @item.material
                                </span>
                            </div>
                        }
                      
                    </div>                
                </div>
            </div>
        </div>

        <!--end:: Widgets/Sales States-->
    </div>
</div>