﻿
@{
    ViewBag.Title = "BankAccount";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
    <div class="col-lg-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الحسابات النكية 
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" action="@Url.Action("bankAccount")" id="form-login">
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-6">
                                        <div class="m-form__label">
                                            <label> اسم البنك التابع</label>
                                        </div>
                                        <input type="text" class="form-control m-input" required placeholder="اسم البنك التابع" name="bank_name" value="@(ViewBag.item !=null ?ViewBag.item.bank_name:"" )">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="m-form__label">
                                            <label> اسم صاحب الحساب</label>
                                        </div>
                                        <input type="text" class="form-control m-input" required placeholder="اسم البنك التابع" name="bank_account_name" value="@(ViewBag.item !=null ?ViewBag.item.bank_account_name:"" )">                                       
                                    </div>

                                </div>

                            </div>
                            <div class="col-xl-12">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-8">
                                        <div class="m-form__label">
                                            <label> رقم الحساب البنكي IPAN</label>
                                        </div>
                                        <input type="text" class="form-control m-input" required placeholder="رقم الحساب البنكي IPAN" name="bank_account" value="@(ViewBag.item !=null ?ViewBag.item.bank_account:"" )">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="m-form__label">
                                            <label> &nbsp;</label>
                                        </div>
                                        <button type="submit" class="btn btn-dark">حفظ المتغيرات</button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12"><hr /></div>
                        </div>
                    </div>
                    <input type="hidden" name="edit_id" value="@ViewContext.RouteData.Values["id"]" />
                </form>
                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                    <thead>
                        <tr>
                            <th title="Field #2" data-field="Owner">اسم البنك</th>
                            <th title="Field #2" data-field="Owner">اسم صاحب الحساب</th>
                            <th title="Field #2" data-field="Owner">الأيبان</th>
                            <th title="Field #10" data-field="Actions">العمليات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.bank_name</td>
                            <td>@item.bank_account_name</td>
                            <td>@item.bank_account</td>
                            <td data-field="Actions" class="m-datatable__cell">
                                <span style="overflow: visible; position: relative; width: 110px;">
                                    <a href="@Url.Action("BankAccount", new { id = item.Id })" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                                        <i class="la la-edit"></i>
                                    </a>
                                    @*<a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("Deactive", new { id=item.Id})" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill DeleteBox" title="Delete"><i class="la la-trash"></i></a>*@
                                </span>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>

                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../../assets/demo/custom/crud/metronic-datatable/base/html-table.js" type="text/javascript"></script>

}

