﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
     double rate = Convert.ToDouble(ViewBag.rate == null ? .1 : Convert.ToDouble(ViewBag.rate)/100);
}
<div class="row">
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الدفعات المالية المستحقة 
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>عنوان الدورة</th>
                                    <th>عدد الطلاب</th>
                                    <th>عدد الساعات</th>
                                    <th>مبلغ الساعة</th>
                                    <th>المبلغ المستحق</th>
                                    <!-- <th>عمليات</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.title</td>
                                    <td>@item.total_std</td>
                                    <td>@item.lectures_count</td>
                                    <td>@item.cost ريال</td>
                                    <td>@((item.cost * item.lectures_count * item.total_std) - (item.cost * item.lectures_count * item.total_std) * rate ) ريال</td>                          
                                   @* <td nowrap>
                                        <span style="overflow: visible; position: relative; width: 110px;">
                                            <a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="Edit details">
                                                <i class="la la-edit"></i>
                                            </a>
                                        </span>

                                    </td>*@
                                </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> ليس لديك دورات تدريبية مسجلة   .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>