﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
    List<string> list = (List<string>)ViewBag.education_level_text;
}

<div class="m-portlet">
    <div class="m-portlet__body  m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-4">

                <!--begin:: Widgets/Stats2-1 -->
                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">عدد الدروس</h3>
                                <span class="m-widget1__desc">عدد الدروس التي تم الموافقة عليها</span>
                            </div>
                            <div class="col m--align-right">
                                <span class="m-widget1__number m--font-brand">@ViewBag.courses</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">عدد الطلبات</h3>
                                <span class="m-widget1__desc">الطلبات الواصلة من الطلاب</span>
                            </div>
                            <div class="col m--align-right">
                                <span class="m-widget1__number m--font-danger">@ViewBag.requests</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">المبالغ المستحقة</h3>
                                <span class="m-widget1__desc">قيمة المبالغ المستحقة لديك</span>
                            </div>
                            <div class="col m--align-right">
                                <span class="m-widget1__number m--font-success">@ViewBag.payments</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end:: Widgets/Stats2-1 -->
            </div>
            <div class="col-xl-4">

                <!--begin:: Widgets/Revenue Change-->
                <div class="m-widget14">
                    <div class="m-widget14__header">
                        <h3 class="m-widget14__title">
                            توزيع المستخدمين حسب ألية التعليم
                        </h3>
                        <span class="m-widget14__desc">
                            توزيع الطلبات حسب الية التعليم المعتمدة
                        </span>
                    </div>
                    <div class="row  align-items-center">
                        <div class="col">
                            <div id="m_chart_revenue_change" class="m-widget14__chart1" style="height: 180px">
                            </div>
                        </div>
                        <div class="col">
                            <div class="m-widget14__legends">
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                    <span class="m-widget14__legend-text">@( ViewBag.online / ((ViewBag.online + ViewBag.onsite + ViewBag.both)==0?1: (ViewBag.online + ViewBag.onsite + ViewBag.both)))% أونلاين</span>
                                    <input type="hidden" id="online" value="@ViewBag.online" />
                                </div>
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                    <span class="m-widget14__legend-text">@( ViewBag.onsite / ((ViewBag.online + ViewBag.onsite + ViewBag.both) == 0 ? 1 : (ViewBag.online + ViewBag.onsite + ViewBag.both)))% في المكان</span>
                                    <input type="hidden" id="onsite" value="@ViewBag.onsite" />
                                </div>
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                    <span class="m-widget14__legend-text">@( ViewBag.both / ((ViewBag.online + ViewBag.onsite + ViewBag.both) == 0 ? 1 : (ViewBag.online + ViewBag.onsite + ViewBag.both)))% كلاهما</span>
                                    <input type="hidden" id="both" value="@ViewBag.both" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end:: Widgets/Revenue Change-->
            </div>
            <div class="col-xl-4">

                <!--begin:: Widgets/Profit Share-->
                <div class="m-widget14">
                    <div class="m-widget14__header">
                        <h3 class="m-widget14__title">
                            المرحلة التعليمية
                        </h3>
                        <span class="m-widget14__desc">
                            توزيع ألية المرحلة التعليمية
                        </span>
                    </div>
                    <div class="row  align-items-center">
                        <div class="col">
                            <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
                                <div class="m-widget14__stat">@(list.Where(w => w.Contains("1")).Count() + list.Where(w => w.Contains("2")).Count() + list.Where(w => w.Contains("3")).Count())</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="m-widget14__legends">
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                    <span class="m-widget14__legend-text">@(list.Where(w => w.Contains("1")).Count() * 100 / (list.Where(w => w.Contains("1")).Count() + list.Where(w => w.Contains("2")).Count() + list.Where(w => w.Contains("3")).Count()))% الابتدائي</span>
                                    <input type="hidden" id="e_1" value="@list.Where(w=>w.Contains("1")).Count()" />
                                </div>
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                    <span class="m-widget14__legend-text">@(list.Where(w => w.Contains("2")).Count() * 100 / (list.Where(w => w.Contains("1")).Count() + list.Where(w => w.Contains("2")).Count() + list.Where(w => w.Contains("3")).Count()))% الاعدادي</span>
                                    <input type="hidden" id="e_2" value="@list.Where(w=>w.Contains("2")).Count()" />
                                </div>
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                    <span class="m-widget14__legend-text">@(list.Where(w => w.Contains("3")).Count() * 100 / (list.Where(w => w.Contains("1")).Count() + list.Where(w => w.Contains("2")).Count() + list.Where(w => w.Contains("3")).Count()))% الثانوي</span>
                                    <input type="hidden" id="e_3" value="@list.Where(w=>w.Contains("3")).Count()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end:: Widgets/Profit Share-->
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-xl-12">

        <!--begin::Portlet-->
        <div class="m-portlet " id="m_portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            التقويم
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                <span>
                                    <i class="la la-refresh"></i>
                                    <span>تحديث</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div id="m_calendar"></div>
            </div>
        </div>

        <!--end::Portlet-->
    </div>
</div>
@section Scripts{
    <script>
        if (0 !== $("#m_calendar").length) {
            $("#m_calendar").fullCalendar({
                isRTL: mUtil.isRTL(),
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay,listWeek"
                }, editable: !0,
                eventLimit: !0,
                navLinks: !0,
                defaultDate: moment("2019-10-28"),
                events: [

                @{
                    foreach (var item in ViewBag.course)
                    {
                        @:{
                            @:title: "@item.course_name",
                            @:start: moment("@string.Format("{0:yyyy-MM-dd}", item.sch_date)"),
                           @: description:  "@item.course_name",
                           @: className: "m-fc-event--light m-fc-event--solid-success"
                        @:},
                    }
                }

                ],
                eventRender: function (e, t) { t.hasClass("fc-day-grid-event") ? (t.data("content", e.description), t.data("placement", "top"), mApp.initPopover(t)) : t.hasClass("fc-time-grid-event") ? t.find(".fc-title").append('<div class="fc-description">' + e.description + "</div>") : 0 !== t.find(".fc-list-item-title").lenght && t.find(".fc-list-item-title").append('<div class="fc-description">' + e.description + "</div>") }
            })
        }
    </script>
}